$primaryBlue : #4689c8;
$secondaryBlue : #48a1e6;
$highlightedBlue : #25c7f9;

$homeGreen : #3770a6;
$correctGreen : #59c584;

$missedOrange : #fbad48;

$darkGrey : #4e4e4e;
$lightGrey : #eee;
$labelGrey : #e0e0e0;

$black : #2c2b2b;
$red: #d2494d;