@import 'compass/css3';
@import 'myVars';
@import 'myMixins';
@import 'myExtensions';


@font-face {
    font-family: 'source_sans_prolight';
    src: url('../fonts/SourceSansPro-Light-webfont.eot');
    src: url('../fonts/SourceSansPro-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-Light-webfont.woff2') format('woff2'),
         url('../fonts/SourceSansPro-Light-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro-Light-webfont.ttf') format('truetype'),
         url('../fonts/SourceSansPro-Light-webfont.svg#source_sans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'source_sans_proregular';
    src: url('../fonts/SourceSansPro-Regular-webfont.eot');
    src: url('../fonts/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-Regular-webfont.woff2') format('woff2'),
         url('../fonts/SourceSansPro-Regular-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro-Regular-webfont.ttf') format('truetype'),
         url('../fonts/SourceSansPro-Regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'source_sans_prosemibold';
    src: url('../fonts/SourceSansPro-Semibold-webfont.eot');
    src: url('../fonts/SourceSansPro-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-Semibold-webfont.woff2') format('woff2'),
         url('../fonts/SourceSansPro-Semibold-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/SourceSansPro-Semibold-webfont.svg#source_sans_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}


*{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


body{
	font-family: 'source_sans_prolight';
	margin: 0;
	padding: 0;

	.loader{
		position: absolute;
		top: 0;
		left: 0;
		background: white;
		width: 100%;
		height: 100%;
		z-index: 9999;
		animation-name: fadeOut;
   		animation-duration: 2s;
	}
}

h1{
	margin: 0;
	color: $primaryBlue;
	font-family: 'source_sans_prolight';
	font-weight: normal;
}

h3 sup{
	font-size: 12px;
}

sup{
	line-height: 0;
}


div,button{
	outline: none;
}

.invisible{
	visibility:hidden;
}

.fa-play-circle{
	font-size: 60px;
    opacity: 0.7;
    position: absolute;
    top: 58px;
    left: 90px;
}

.contents-title{
	color:$secondaryBlue;
	background:$labelGrey;
	margin:0;
	padding:15px 0;
}

.contents-subtitle{
	font-size:22px;
	margin-bottom:38px;
}

.no-bg-color{
	background-color:rgba(0,0,0,0) !important;
}

/* This is how you would create a theme called "my-custom-theme": */

.my-custom-theme-incorrect {
	border: 2px solid $incorrect;
	background: white;
	color: $incorrect;
	width: 362px;
	
	/* Use this next selector to style things like font-size and line-height: */
	.tooltipster-content {
		font-family: Arial, sans-serif;
		font-size: 14px;
		line-height: 16px;
		padding: 8px 10px;
	}

}

.pull-left{
	float:left;
}

.my-custom-theme-missed {
	border: 2px solid $missedOrange;
	background: white;
	color: $missedOrange;
	width: 362px;
	
	/* Use this next selector to style things like font-size and line-height: */
	.tooltipster-content {
		font-family: Arial, sans-serif;
		font-size: 14px;
		line-height: 16px;
		padding: 8px 10px;
	}
}


.tooltipster-arrow span:nth-child(2){
	border-color: $incorrect !important;
	border-right: none;
}


.tooltipster-fade {
	-webkit-animation-duration :0s !important;
	-webkit-transition-duration :0s !important;
	transition-duration :0s !important;
	
}
.tooltipster-fade-show {
	-webkit-animation-duration :350ms !important;
	-webkit-transition-duration :350ms !important;
	transition-duration :350ms !important;
}







.header-bg{
	// height: 40px;
	padding: 15px 0;
	background: $labelGrey;
}

.replay-icon{
	@include at2x('../images/replay-icon',png, 18px, 16px);
	height: 16px;
	width: 18px;
	display: inline-block;
	position: absolute;
	left: 12px;
	top: 1px;
}

.next-icon{
	@include at2x('../images/next-assess',png, 15px, 12px);
	height: 12px;
	width: 8px;
	display: inline-block;
	position: absolute;
	top: 3px;
 	right: 20px;

 	&.choice{
 		right: 0;
 	}
}

.skip-icon{
	@include at2x('../images/skip-icon',png, 10px, 12px);
	height: 12px;
	width: 10px;
	display: inline-block;
	position: absolute;
	top: 33px;
	right: 34px;
}

.info-btn{
	@include at2x('../images/info-icon',png, 64px, 50px);
	height: 50px;
	width: 64px;
	background-repeat: no-repeat;
	top: 12px;
	left: 18px;
}

.hint-btn{
	@include at2x('../images/hint-icon',png, 36px, 52px);
	height: 52px;
	width: 36px;
	background-repeat: no-repeat;
	top: 10px;
	left: 31px;
}

.expert-btn{
	@include at2x('../images/expert-icon',png, 35px, 54px);
	height: 54px;
	width: 35px;
	background-repeat: no-repeat;
	top: 10px;
	left: 31px;
}

.references-btn{
	@include at2x('../images/ref-icon',png, 62px, 54px);
	height: 54px;
	width: 62px;
	background-repeat: no-repeat;
	top: 10px;
	left: 19px;
}

.home-icon{
	  height: inherit;
	  width: 100px;
	  background: $homeBlue;
	  position: absolute;
	  left: 190px;
	  @include at2x('../images/home-icon',png, 34px, 56px);
	  background-repeat: no-repeat;
	  background-position: 33px 7px;
}

.menu-icon{
	height: inherit;
	  width: 100px;
	  background: $homeBlue;
	  position: absolute;
	  left: 290px;
	  @include at2x('../images/menu-icon',png, 68px, 54px);
	  background-repeat: no-repeat;
	  background-position: 15px 9px;
}

.popup{
	  position: absolute;
	  height: 100%;
	  width: 100%;
	  top: 0;
	  left: 0;
	  background: rgba(0, 0, 0, 0.5);
	  z-index: 9999999999;

	  &.case-end{
	  	z-index: 999;

	  	.fa{
	  		margin-right:7px;
	  	}
	  }

	  .confirm{
	  	@extend %absolute-center;
	  	height: 200px;
	  	width: 400px;
		background: $primaryBlue;
		text-align: center;
		color: white;

		&.decision{

			width: 700px;

			&.end {
				width: 1024px;
				height: 768px;
				background:rgba($secondaryBlue,0.95);

				.wrapper{
					width: 625px;
					margin:0 auto;
					@extend %absolute-center;

					button{
						margin:50px 5px 0;
						background: $homeBlue;

						a{
							color: #fff;
							text-decoration: none;
						}
					}

					p{
						margin: 0 0 65px 0;
					}

					.right-list{	
						list-style: disc;
						padding: 0 20px;

						>li{
							list-style: none;
							margin-bottom: 12px;
						}

						li{
							ul>li{
								  margin-bottom: 4px;
							}
						}

						>li:before{
							content: '\f105';
							font-family: 'FontAwesome';
							float: left;
							margin-left: -1.2em;
							color: #fff;
						}

						ul{
							padding-left: 20px;
							list-style: circle;
						}

						.ul-title{
							margin-bottom:10px;
						}

						>div>li:before{
							content: '\f105';
							font-family: 'FontAwesome';
							float: left;
							margin-left: -1.2em;
							color: $highlightedBlue;
						}

						>div>li{
							margin-bottom: 12px;
							list-style: none;
							padding-right: 45px;
						}

					}
				}

				h2{
					margin-top: 75px;
				}
			}

			h2{
				  margin-top: 35px;
				  font-size: 30px;
				  font-weight: normal;
				  margin-bottom: 0px;
			}

			button{
				  margin-top: 10px;
				  width: 300px;
				  margin: 0 15px;
			}

		}

		&.terms{
			width: 700px;
  			height: 500px;
  			padding: 20px;

  			p{
  				text-align: left;
  			}

  			h2{
  				margin: 0 0 20px 0;
  			}
		}

		&.dispatch{
			button{
				margin-top: 80px;
			}
		}


		h2{
			margin-top: 55px;
			font-weight: normal;
		}

		h3{
			font-weight: normal;
			font-size: 24px;
			margin: 10px 0;
		}

		button{
			  border: none;
			  width: 80px;
			  height: 40px;
			  margin: 0 5px;
			  background: rgba(255, 255, 255, 0.5);
			  font-family: 'source_sans_prolight';
			  font-size: 18px;

			  &.no{
			  	background: white;
			  }
		}
	  }
}

.fade-view{
	@include transition-property(all);
	@include transition-duration(1.5s);
}

.fade-view.ng-enter{
	opacity: 0;
}

.fade-view.ng-enter-active{
	opacity: 1;
}

.fade-view.ng-leave{
	display: none;
}

.fade-view.ng-leave-active{
	display: none;
}

.container{
  height: 768px;
  width: 1024px;
  position: relative;
  overflow: hidden;
  background: white;




	 .overlay{
	 	width: 1024px;
		height: 768px;
		position: absolute;
	 	@include transition-property(all);
		@include transition-duration(1s);	

		&.ng-enter{
			top: 768px;
			// @include translate(0,768px);
		}

		&.ng-enter-active{
			top:0;
			// @include translate(0,0);
		}

		&.ng-leave{
			top: 0;
			// @include translate(0,0);
		}

		&.ng-leave-active{
			top:768px;
			// @include translate(0,768px);
		}

		.main-menu{
		  	@extend %middleSection;
		  	width: 1024px;
			height: 758px;
			text-align: center;
			color: white;

			.wrapper{
				width: 790px;
				margin:0 auto;

				.vid-img{
					width: 234px;
					height: 175px;
					position: relative;
					// @include at2x('../images/video-icon',jpg, 235px, 176px);
					@include transition-property(all);
					@include transition-duration(1s);

					.disabled{
						height: 100%;
					    background: black;
					    opacity: 0.8;
					}

					&.case1{

						&.stage1{
							@include at2x('../images/case1-thumb-Video1',jpg, 234px, 175px);
						}

						&.stage2{
							@include at2x('../images/case1-thumb-Video2',jpg, 234px, 175px);
						}

						&.stage3{
							@include at2x('../images/case1-thumb-Video3',jpg, 234px, 175px);
						}

						&.stage4{
							@include at2x('../images/case1-thumb-Video4',jpg, 234px, 175px);
						}

						&.stage5{
							@include at2x('../images/case1-thumb-Video5',jpg, 234px, 175px);
						}

						&.stage6{
							@include at2x('../images/case1-thumb-Video6',jpg, 234px, 175px);
						}

					}

					&.case2{

						&.stage1{
							@include at2x('../images/case2-thumb-Video1',jpg, 234px, 175px);
						}

						&.stage2{
							@include at2x('../images/case2-thumb-Video2',jpg, 234px, 175px);
						}

						&.stage3{
							@include at2x('../images/case2-thumb-Video3',jpg, 234px, 175px);
						}

						&.stage4{
							@include at2x('../images/case2-thumb-Video4',jpg, 234px, 175px);
						}

						&.stage5{
							@include at2x('../images/case2-thumb-Video5',jpg, 234px, 175px);
						}

						&.stage6{
							@include at2x('../images/case2-thumb-Video6',jpg, 234px, 175px);
						}

					}

					&:hover{
						opacity: 0.5;
					}
				}

				.col{
					width: 250px;
					height: 235px;
					float: left;
				}

				.col2{
					margin:0 20px;
				}

				p{
					text-align: left;
				}
			}
		}
		
		.decision-state{
			@extend %middleSection;
			width: 1024px;
			height: 215px;
			text-align: center;
			color: white;

			h2{
				  margin-top: 0;
				  font-size: 30px;
				  font-weight: normal;
				  margin-bottom: 0px;
			}


			button{
				margin-top: 10px;
				width: 300px;
				margin: 0 15px;
				border: none;
				margin: 0 5px;
				background: rgba(255, 255, 255, 0.5);
				font-family: 'source_sans_prolight';
				font-size: 18px;

				&.no{
				 background: white;
				} 
			}
		}

	 	.information{
		  	@extend %middleSection;
		  	width: 1024px;
			height: 758px;
		}

		.hint{
			@extend %middleSection;
			width: 1024px;
			height: 215px;
			text-align: center;
			line-height: 20px;

			&.stage1case2{
				.overlay-message{
					height: 130px;
				}
			}

			&.stage4case2{
				height :320px;

				.overlay-message{
					height: 195px;
    				top: -80px;
				}
			}
		}

		.expert{
			@extend %middleSection;
			width: 1024px;
			height: 215px;
			text-align: center;
			line-height: 20px;

			&.stage4case2{
				height :320px;

				.overlay-message{
					height: 215px;
    				top: -70px;
				}

			}

			&.stage4case1{
				.overlay-message{
					height: 125px;   				
				}
			}

			&.stage2case1{
				height :270px;

				.overlay-message{
					height :130px;
				}

			}
		}

		.references{
		  	@extend %middleSection;
		  	width: 1024px;
			height: 758px;
			color: white;
			font-size: 25px;

			&.c1-s1{
				height: 625px;
			}

			&.c1-s2{
				height: 490px;
			}

			&.c1-s3{
				height: 625px;
			}

			&.c1-s6{
				height: 200px;
			}

			&.c2-s1{
				height: 560px;
			}

			&.c2-s2{
				height: 325px;
			}

			&.c2-s3{
				height: 710px;
			}

			&.c2-s6{
				height: 220px;
			}

			>div{
				width: 980px;
				margin: 30px auto;

				ol{
					width: 800px;
					margin: 0 auto;
					font-size: 18px;
				}
			}
		}


	 }

	 .overlay-secondary{
	 	width: 1024px;
		height: 768px;
		position: absolute;
		top: 768px;
		text-align: center;
		color: white;
	 	@include transition-property(all);
		@include transition-duration(1s);

		&.active{
			top:0;
		}

		.assessment-overlay{
			@extend %middleSection;
			width: 1024px;
			height: 215px;

			h2{
				  margin-top: 0;
				  font-size: 30px;
				  font-weight: normal;
				  margin-bottom: 0px;
			}


			button{
				margin-top: 10px;
				width: 300px;
				margin: 0 15px;
				border: none;
				margin: 0 5px;
				background: rgba(255, 255, 255, 0.5);
				font-family: 'source_sans_prolight';
				font-size: 18px;

				&.no{
				 background: white;
				} 
			}
		}

		.mainMenu-overlay{
			@extend %middleSection;
			width: 1024px;
			height: 758px;

			.wrapper{
				width: 790px;
				margin:0 auto;

				.vid-img{
					width: 234px;
					height: 175px;
					position: relative;
					// @include at2x('../images/video-icon',jpg, 235px, 176px);
					@include transition-property(all);
					@include transition-duration(1s);

					.disabled{
						height: 100%;
					    background: black;
					    opacity: 0.8;
					}

					&.case1{

						&.stage1{
							@include at2x('../images/case1-thumb-Video1',jpg, 234px, 175px);
						}

						&.stage2{
							@include at2x('../images/case1-thumb-Video2',jpg, 234px, 175px);
						}

						&.stage3{
							@include at2x('../images/case1-thumb-Video3',jpg, 234px, 175px);
						}

						&.stage4{
							@include at2x('../images/case1-thumb-Video4',jpg, 234px, 175px);
						}

						&.stage5{
							@include at2x('../images/case1-thumb-Video5',jpg, 234px, 175px);
						}

						&.stage6{
							@include at2x('../images/case1-thumb-Video6',jpg, 234px, 175px);
						}

					}

					&.case2{

						&.stage1{
							@include at2x('../images/case2-thumb-Video1',jpg, 234px, 175px);
						}

						&.stage2{
							@include at2x('../images/case2-thumb-Video2',jpg, 234px, 175px);
						}

						&.stage3{
							@include at2x('../images/case2-thumb-Video3',jpg, 234px, 175px);
						}

						&.stage4{
							@include at2x('../images/case2-thumb-Video4',jpg, 234px, 175px);
						}

						&.stage5{
							@include at2x('../images/case2-thumb-Video5',jpg, 234px, 175px);
						}

						&.stage6{
							@include at2x('../images/case2-thumb-Video6',jpg, 234px, 175px);
						}

					}

					&:hover{
						opacity: 0.5;
					}
				}

				.col{
					width: 250px;
					height: 235px;
					float: left;
				}

				.col2{
					margin:0 20px;
				}

				p{
					text-align: left;
				}
			}
		}

		.references-overlay{
			@extend %middleSection;
			width: 1024px;
			height: 758px;
		}

	 }

  

  
}

.bottom-menu{
	height: 75px;
	width: 1024px;
	position: absolute;
	bottom: -75px;
	left: 0;
	background: $primaryBlue;
	z-index: 999999;
	overflow: hidden;
	@include transition-property(all);
	@include transition-duration(1s);

	&.active{
		bottom:0;
		transition-delay: 1s;
	}

	.right-btn{
		position: absolute;
		right: 0;
		top: 0;
		height: inherit;
		width: 190px;
		@include button($darkGrey,white);

		.btn-container{
			position: relative;
			left: -10px;
		}
	}

	.left-btn{
		position: absolute;
		left: 0;
		top: 0;
		height: inherit;
		width: 190px;
		@include button($darkGrey,white);

		.btn-container{
			position: relative;
			left: 10px;
		}
	}

	.middle-section{
		height: inherit;
		margin: 0 auto;
		width: 433px;
		position: relative;
		right: -95px;
		top: -1px;

		.button-bg{
			position: absolute;
			width: 100px;
			height: inherit;
			background: $secondaryBlue;
			opacity: 0;
			@include transition-property(all);
			@include transition-duration(1s);

		}

		.hint-label{
			// margin-left: 21px;
			// margin-right:10px;
		}

		.label-bg{
			width: 100px;
			height: 1px;
			float: left;
		}

		button{
			background-color: rgba(0,0,0,0);
			border: none;
			position: relative;
			
		}
	}

}

.intro{

	.logo{
		position: absolute;
		display: block;
		@include at2x('../images/logo',png, 84px, 84px);
		width: 84px;
		height: 84px;
		top: 35px;
		left: 900px;
	}


	.left{
		width:400px;
		height: 728px;
		padding: 0 40px;
		float:left;

		h1{
			margin-top:165px;
			margin-bottom: 40px;
			font-size: 48px;
		}

		p{
			color: $darkGrey;
			font-size: 16px;
			line-height: 28px;
		}
	}

	.right{
		width:464px;
		height: 728px;
		padding: 0 40px;
		float:left;
		background: $labelGrey;

		ul{
			list-style: none;
			padding: 0;
			margin-top: 220px;
		}

		li{
			background:$primaryBlue;
			height: 75px;
			margin-bottom: 30px;
			color: white;
			font-size: 30px;
			position: relative;

			.case-title{
				float: left;
			    padding: 19px;
			    background-color: $homeBlue;
			}

			.case-description{
				font-size: 14px;
			    padding: 20px;
			    float: left;

			    &.case2 {
			    	padding-top:29px;
			    }
			}

			.case-icon{
				@include at2x('../images/case-icon',png, 26px, 26px);
				width: 26px;
				height: 26px;
				position: absolute;
				right: 25px;
				top: 25px;
			}
		}
	}

	footer{
		height: 40px;
		width: 100%;
		font-size: 12px;
		text-align: center;
		background: $darkGrey;
		color: white;
		float: left;
		padding: 15px 0;
	}

}

.videos{
	position: absolute;

	videogular vg-controls{
		height: 80px;
		top: calc(100% - 215px);
		left: 480px;
	}

	videogular vg-controls .controls-container{
		height: 80px ;
		opacity: 1 ;
		background-color: rgba($primaryBlue,0.5);
	}

	videogular vg-scrub-bar{
		// background-color: white;
		height: 80px;
	}

	videogular vg-scrub-bar-current-time{
		background-color: $primaryBlue;
		height: 80px
	}

	videogular .iconButton{
		font-size: 22px;
	}

	videogular vg-play-pause-button{
		width: 190px;
		padding:1px 6px;	
	}

	vg-controls{
		width: 102px;
	}

	.mejs-mediaelement{
		transform: scale(0.9);
  		top: -125px;
  		left: -550px;
	}

	.mejs-overlay-play{
		display: none !important;
	}

	.mejs-overlay-loading{
		// top: 35%;
 		// left: 28%;
 		display: none;
	}

	.mejs-container .mejs-controls{
		width: 1024px;
		bottom: 312px;
		height: 75px;
		background: rgba(70, 137, 200, 0.5);
		padding-left: 175px;

		> div{
			margin-top: 25px;
		}

		// .mejs-button button{
		// 	width: 190px;
		// 	height: 60px;
		// 	background: $darkGrey;
		// }

		.skip-btn{
			background: $darkGrey;
			height: 75px;
			width: 190px;
			position: relative;
			border: none;
			left: -175px;
			color: white;
		}

		.mejs-time-total{
			width: 600px !important;

			span{
				height: inherit;
			}
		}

		
	}


	.skip-btn{
		background: $darkGrey;
		height: 75px;
		width: 190px;
		position: relative;
		border: none;
		float: right;
		color: white;
	}

	.controls{
		  width: 670px;
		  margin-left: 160px;
		  float: left;
		  margin-top: 27px;

		#play-pause{
			height: 22px;
			width: 35px;
			background: rgba(0,0,0,0);
			float: left;
			background-repeat: no-repeat;

			&.play{
				@include at2x('../images/play-icon',png, 11px, 21px);
			}

			&.pause{
				@include at2x('../images/pause-icon',png, 12px, 21px);
			}
			

		}

		#seek-bar{
			width: 600px;
			height: 22px;
			float:left;
			opacity: 0;
		}

		.progress-bar{
			width: 600px;
			height: 10px;
			margin-left: 35px;
			margin-top: 6px;
			background: white;

			.progress{
				background: $darkGrey;
				height: inherit;
			}
		}
	}


	.time-container{
		// background: white;
	}

	.skip-button{
		display: table-cell;
		width: 190px;
		padding:1px 6px;
		vertical-align: middle;
		text-align: center;
		cursor: pointer;
		background: $darkGrey;
		color: white;
	}

	video{
		height: 768px;
		width: 1024px;
	}

	video[new-player]{
		@include transition-property(all);
		@include transition-duration(1s);

		&.stopped{
			// -webkit-filter: grayscale(1);
  	// 		filter: grayscale(1);
		}
	}

	video[my-player]{
		height: 1080px;
		width: 1920px;
		position: absolute;
		top: -125px;
		left: -550px;
		transform: scale(0.9);
	}

	.video-controls{
		position: absolute;
		bottom: 0;
		height: 75px;
		width: 100%;
		background: rgba(70, 137, 200, 0.5);
	}


	// videogular vg-controls .controls-container{
	// 	height: 30px !important;
	// }

	.video-frame{
		@include transition-property(all);
		@include transition-duration(1s);
		right: 480px;
		bottom: 80px;
		width: 1750px;

		&.active{
			// right: 375px;
		}
	}

	.right-menu{
		border-top: solid 5px $primaryBlue;
		width: 375px;
		height: 768px;
		background: rgb(255,255,255);
		position: absolute;
		right: -375px;
		top: 0;
		z-index: 500;
		@include transition-property(all);
		@include transition-duration(1s);

		&.active{
			right:0;
		}

		h1{
			padding-left: 25px;
		}

		.wrapper{
			height: 550px;
			overflow: hidden;
			position: relative;
			margin-top: 30px;
		}

		.scroll-content > ul{
			padding:0 25px;
			margin:0 0 10px 0;
		}


		.list-header{
			list-style: none;
			color: $primaryBlue;
			font-family: 'source_sans_proregular';
			font-size: 18px;

			.header-icon{
				@include at2x('../images/history-icon',png, 20px, 20px);
				height: 20px;
				width: 20px;
				display: inline-block;
				position: relative;
				right: 5px;
				top: 4px;
			}

			p{
				float: left;
				width: 300px;
				margin:0;
				position:relative;
				top:3px;
			}
		}

		.list-content li{
			font-family: 'source_sans_proregular';
			list-style: initial;
			font-size: 14px;
			list-style-type: circle;
		}
	}

	.bottom-drawer{
		position: absolute;
		height: 200px;
		bottom:-200px;
		left: 0;

	}

	// .bottom-menu{
	// 	height: 50px;
	// 	width: 1024px;
	// 	position: absolute;
	// 	bottom: -50px;
	// 	left: 0;
	// 	background: black;
	// 	z-index: 1000;
	// 	text-align: center;
	// 	@include transition-property(all);
	// 	@include transition-duration(1s);

	// 	&.active{
	// 		bottom:0;
	// 	}

	// }

}



.assessment{

	input[type='checkbox']{
		display: none;
	}

	.wrapper{
		width: 924px;
		margin: 0 auto;
	}

	.end-result{
		  float: right;
		  width: 380px;
		  color: $secondaryBlue;

		  &.case1{
			margin-top: 42px;
		  }

		  &.case2{
			margin-top: 42px;

			&.last{
				margin-top: 10px;
			}
		  }

		  li{
		  	color: black;
		  }

		.right-list{	
			list-style: disc;
			padding: 0 20px;

			>li{
				list-style: none;
				margin-bottom: 12px;
			}

			li{
				ul>li{
					  margin-bottom: 4px;
				}
			}

			>li:before{
				content: '\f105';
				font-family: 'FontAwesome';
				float: left;
				margin-left: -1.2em;
				color: $highlightedBlue;
			}

			ul{
				padding-left: 20px;
				list-style: circle;
			}

			.ul-title{
				margin-bottom:10px;
			}

			>div>li:before{
				content: '\f105';
				font-family: 'FontAwesome';
				float: left;
				margin-left: -1.2em;
				color: $highlightedBlue;
			}

			>div>li{
				margin-bottom: 12px;
				list-style: none;
				padding-right: 45px;
			}

		}
	}

	form{
		margin-top: 20px;
		 width: 515px;
		 float: left;

		.blood-test{
			@include at2x('../images/blood-test-icon',png, 22px, 16px);
			width: 22px;
			height: 16px;
			display: inline-block;
			position: relative;
			top: 2px;
		}

		h3{
			font-weight: normal;
			margin: 25px 0 10px;
			font-size: 17px;
			color: $secondaryBlue;
		}
	}

	.ng-submitted{

		.answer-row.active.incorrect{

			

			.assessment-selection{
				background: $incorrect;

				.result{
					@include at2x('../images/incorrect-selection-icon',png, 17px, 17px);
					width: 17px;
					height: 17px;
				}

			}

			&.warning{
				.help,.help2{
					@include at2x('../images/help-icon-warn',png, 22px, 22px);
					width: 22px;
					height: 22px;
					position: absolute;
					right: -35px;
					bottom: 3px;
				}
			}

			.help{
				@include at2x('../images/help-icon',png, 22px, 22px);
				width: 22px;
				height: 22px;
				position: absolute;
				right: -35px;
				bottom: 3px;
			}

			.incorrect-help2{
				@include at2x('../images/help-icon-warn',png, 22px, 22px);
				width: 22px;
				height: 22px;
				position: absolute;
				right: -35px;
				bottom: 3px;
			}
			
		}


		.active.correct:not(.missed){

			.assessment-selection{
				background: $correctGreen;

			}

			.help2{
				@include at2x('../images/help-icon-warn',png, 22px, 22px);
				width: 22px;
				height: 22px;
				position: absolute;
				right: -35px;
				bottom: 3px;
			}
			
		}

		.active.correct.missed{

			label{
				background: $missedOrange;
			}

			.help{
				@include at2x('../images/help-icon-warn',png, 22px, 22px);
				width: 22px;
				height: 22px;
				position: absolute;
				right: -35px;
				bottom: 3px;
			}
			
		}

	}

	.answer-row{
		height: 29px;
		margin-bottom: 5px;
		position: relative;
		width: 505px;

		&.active{
			label{
				background: $secondaryBlue;
				color: white;
			}

			.assessment-selection{
				.result{
					@include at2x('../images/selected-icon',png, 17px, 17px);
					width: 17px;
					height: 17px;
				}
			}

		}

		.assessment-selection{
			position: relative;
			float: left;
			width: 495px;
			background: $lightGrey;
			color: $darkGrey;
			padding: 5px 5px 5px 15px;
			font-size: 15px;
			@include transition-property(all);
			@include transition-duration(0.5s);


			.result{
				position: absolute;
				right: 10px;
				@include at2x('../images/selection-icon',png, 16px, 16px);
				width: 16px;
				height: 16px;

				&.two-line{
					top: 15px;
				}
			}
		}


	}

}

.info-table{
		border-collapse:collapse;
		background: $lightGrey;
	
		th{
			background : $highlightedBlue;
			color: white;
			padding:10px;
			font-size: 24px;
			text-align: left;
		}

		td{
			padding: 10px;
		}
	}

.information{


	

	ul{
		list-style: none;
		padding: 0;

		li{
			font-size: 16px;
		}
	}


	.left-content{
		width: 392px;
		float:left;
		text-align: center;

		.header-bg{
			position: relative;
			z-index: 100;
			height: 40px;
		}

		ul{
			position: relative;
			z-index: 100;
		}

		li{
			color: white;
			padding: 18px 0;
			font-size: 28px;
			position: relative;
			// @include transition-property(all);
			// @include transition-duration(1s);

			.arrow-right{
				// @include transition-property(all);
				// @include transition-duration(1s);
				opacity: 0;
				width: 0; 
				height: 0; 
				border-bottom: 36px solid transparent;  /* left arrow slant */
				border-top: 36px solid transparent; /* right arrow slant */
				border-left: 36px solid $highlightedBlue; /* bottom, add background color here */
				font-size: 0;
				line-height: 0;
				position: absolute;
				right: -36px;
				top:0;
				z-index: 100;

				&.two-line{
					border-bottom: 55px solid transparent;  /* left arrow slant */
					border-top: 55px solid transparent; /* right arrow slant */
					border-left: 55px solid $highlightedBlue; /* bottom, add background color here */
					right: -55px;
				}
			}

			&.active{
				background: $highlightedBlue;

				.arrow-right {
					opacity: 1;
				}
			}
		}


	}

	.right-content{
		background: white;
		overflow: auto;

		div[ui-view]{
			@include transition-property(all);
			@include transition-duration(1s);
			position: relative;
			float:left;
			width: 632px;
			height: 768px;
			overflow: hidden;
			margin-top: 15px;

			&.ng-enter{
				// right: -580px;
				opacity: 0;
			}

			&.ng-enter-active{
				// right: 0;
				opacity: 1;
			}

			&.ng-leave{
				// right: 0;
				position: absolute;
				opacity: 0;
			}

			&.ng-leave-active{
				// right: -580px;
				opacity: 0;
			}

		}
		

		
		.header-bg{
			width: 512px;
			padding: 15px 60px;
			background: $lightGrey;
			height: 40px;
		}

		.content{
			width: 550px;
			padding: 0 60px;

			.top-gradient{
				background: rgba(255,255,255,1);
				background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,47,23,0) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(240,47,23,0)));
				background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,47,23,0) 100%);
				background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,47,23,0) 100%);
				background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,47,23,0) 100%);
				background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(240,47,23,0) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f02f17', GradientType=0 );
				height: 30px;
				position: absolute;
				top: 13px;
				width: 550px;
				z-index: 20;
			}

			.gradient-bottom{
				
			}
		}

		.right-list{	
			list-style: disc;
			padding: 0 20px;

			>li{
				list-style: none;
				margin-bottom: 12px;
			}

			li{
				ul>li{
					  margin-bottom: 4px;
				}
			}

			>li:before{
				content: '\f105';
				font-family: 'FontAwesome';
				float: left;
				margin-left: -1.2em;
				color: $highlightedBlue;
			}

			ul{
				padding-left: 20px;
				list-style: circle;
			}

			.ul-title{
				margin-bottom:10px;
			}

			>div>li:before{
				content: '\f105';
				font-family: 'FontAwesome';
				float: left;
				margin-left: -1.2em;
				color: $highlightedBlue;
			}

			>div>li{
				margin-bottom: 12px;
				list-style: none;
				padding-right: 45px;
			}

		}

		.table{
			font-size: 13px;
			
			h3{
				background: $highlightedBlue;
				color: white;
				padding: 10px;
				margin-top: 0;
				margin-bottom: 10px;
				font-weight: normal;
				font-size: 24px;
				font-family: 'source_sans_proregular';
				text-align: center;
			}

			ul{
				margin-left: 30px;
				list-style: none;


				li{
					margin-bottom: 5px;
					font-size: 15px;
				}

				li.title{
					  margin-left: -18px;
				}

				li.title:before{
					content:none;
				}

				li:before{
					content: '\f105';
					font-family: 'FontAwesome';
					float: left;
					margin-left: -1.2em;
					color: $highlightedBlue;
				}
			}

			.left{
				width: 245px;
				float:left;
				background: $lightGrey;
				height: 400px;
				margin-top: 10px;
			}

			.right{
				width: 245px;
				float:right;
				background: $lightGrey;
				height: 400px;
				position: relative;
  				left: -30px;
  				margin-top: 10px;
			}
	
		}
	}
}

.popup-icon {
	position: absolute;
	top: 500px;
}

.swiper-container{
	height:600px;
	width:700px;
	background:$secondaryBlue;
	color:white;
	@extend %absolute-center;

	.swiper-content{
		padding: 20px;
	}

	.close{
		position: absolute;
		top: 20px;
		left: 650px;
		z-index: 1000;
		@include at2x('../images/close-drawer-icon',png, 30px, 30px);
		width: 30px;
		height: 30px;
	}

	h1{
		 color: white;
	}
}

.blocker-popup{
	height:600px;
	width:700px;
	background:$secondaryBlue;
	color:white;
	@extend %absolute-center;

	.blocker-content{
		padding: 20px;

		.right-list{	
			list-style: disc;
			padding: 0 20px;

			>li{
				list-style: none;
				margin-bottom: 12px;
			}

			li{
				ul>li{
					  margin-bottom: 4px;
				}
			}

			>li:before{
				content: '\f105';
				font-family: 'FontAwesome';
				float: left;
				margin-left: -1.2em;
				color: #fff;
			}

			ul{
				padding-left: 20px;
				list-style: circle;
			}

			.ul-title{
				margin-bottom:10px;
			}

			>div>li:before{
				content: '\f105';
				font-family: 'FontAwesome';
				float: left;
				margin-left: -1.2em;
				color: $highlightedBlue;
			}

			>div>li{
				margin-bottom: 12px;
				list-style: none;
				padding-right: 45px;
			}

		} 
	}

	h1{
		 color: white;
	}

	.close{
		position: absolute;
		top: -5px;
		left: 625px;
		z-index: 1000;
		@include at2x('../images/close-drawer-icon',png, 30px, 30px);
		width: 30px;
		height: 30px;
	}
}

.case-end{
	.confirm{
		height:600px;

		ul{
			text-align: left;
		}
	}
}

.contents{

	&.confirm{
		text-align: left;
	}
	.close{
		position: absolute;
		top: 20px;
		left: 970px;
		z-index: 1000;
		@include at2x('../images/close-drawer-icon',png, 30px, 30px);
		width: 30px;
		height: 30px;
	}

	.right-list{	
		list-style: disc;
		padding: 0 20px;

		>li{
			list-style: none;
			margin-bottom: 12px;
		}

		li{
			ul>li{
				  margin-bottom: 4px;
			}
		}

		>li:before{
			content: '\f105';
			font-family: 'FontAwesome';
			float: left;
			margin-left: -1.2em;
			color: #fff;
		}

		ul{
			padding-left: 20px;
			list-style: circle;
		}

		.ul-title{
			margin-bottom:10px;
		}

		>div>li:before{
			content: '\f105';
			font-family: 'FontAwesome';
			float: left;
			margin-left: -1.2em;
			color: $highlightedBlue;
		}

		>div>li{
			margin-bottom: 12px;
			list-style: none;
			padding-right: 45px;
		}

	}
}

