
<div class="content">
	
	<ul class="right-list">
		<li>If there is a delay in the availability of diagnostic imaging, and DVT is suspected, immediate initiation of anticoagulation with LMWH, apixaban or rivaroxaban should be considered<sup>2,4&ndash;6</sup></li>
		<li>Also consider performing a D-dimer test if imaging is delayed<sup>2</sup></li>
		<li>When a delayed ultrasound results in a negative scan, but D-dimer is positive, consider repeating the ultrasound 6–8 days later<sup>6</sup></li>
	</ul>


</div>