<!-- <h1 class="header-bg">Cellulitis</h1> -->

<div class="content">

	<!-- <div class="top-gradient"></div>
	<div class="bottom-gradient"></div> -->
	
	<ul class="right-list" scroller scrollheight="550px">
		<div>

		<li>
			If infection of the dermis and/or subcutaneous tissue is suspected check for redness of the skin with poorly defined borders</li>
		<li>Check for <i>Streptococcus</i> or <i>Staphylococcus</i> infection</li>
		<li>Erysipelas is a type of cellulitis but the borders of infection are defined and the rash is more aggressive in appearance</li>
		<li><div class="ul-title">Risk factors for cellulitis include:</div>
			<ul>
				<li>Previous cellulitis</li>
				<li>Venous insufficiency</li>
				<li>Older age</li>
				<li>Diabetes</li>
				<li>Alcoholism</li>
				<li>Immunodeficiency</li>
				<li>Lymphoedema</li>
				<li>Obesity</li>
				<li>Insect bites</li>
				<li>IV drug use</li>
				<li>Skin abrasions</li>
				<li>Inflammatory dermatoses</li>
			</ul>
		</li>
		</div>
	</ul>

</div>