
<div class="content">
	
	<ul class="right-list">
		<li>Blood test that detects broken down components of a blood clot that remain in the blood</li>
		<li>If D-dimer test is negative, this rules out the possibility of a DVT by up to 97%<sup>4</sup></li>
		<li><div class="ul-title">Clinical note: however, in 40–60% of patients, this may give a false-positive result in patients who:<sup>5</sup></div>
			<ul>
				<li>Have recently had surgery or a trauma</li>
				<li>Have an inflammatory response </li>
				<li>Are elderly</li>
			</ul>
		</li>
		<li>If you suspect DVT, try to identify an obvious cause or provoking factor</li>
		<li>If the Wells’ score indicates that DVT is unlikely and the D-dimer is negative, do not do any further tests<sup>1,6,7</sup></li>
	</ul>


</div>