<!-- <h1 class="header-bg">Investigations</h1> -->

<div class="content">
	
	<ul class="right-list">
		<li>Urinalysis: can detect proteinuria indicating renal cause <sup>1</sup></li>
		<li>FBC: high white cell count in infection; anaemia <sup>1</sup></li>
		<li>Biochemistry: renal function and electrolytes (raised creatinine in renal failure); LFTs (impaired liver function and associated low albumin); glucose (infection associated with diabetes); TFTs (hypothyroidism) <sup>1</sup></li>
		<li>D-dimer blood test: D-dimers are products of fibrin degradation and are raised in patients with VTE. Sensitivity of the test is high but specificity is poor <sup>1</sup></li>
		<li>CT scan – abdomen: may be used to investigate the progression of DVT proximally into the iliac veins and inferior vena cava, and to exclude an obstructing mass in the abdomen or pelvis <sup>1</sup></li>
		<li>Compression Duplex Doppler/ultrasound (CUS): used to investigate the presence of thrombosis within the deep veins by a combination of compressibility, flow changes and direct imaging of the vein. [Proximal scan or full leg scan offered] <sup>1</sup></li>
	</ul>

</div>