<!-- <h1 class="header-bg">Investigations</h1> -->

<div class="content">
	
	<ul class="right-list">
		<li>Urinalysis: can detect proteinuria indicating renal cause</li>
		<li>FBC: high white cell count in infection; anaemia</li>
		<li>Biochemistry: renal function and electrolytes (raised creatinine in renal failure); LFTs (impaired liver function and associated low albumin); glucose (infection associated with diabetes); TFTs (hypothyroidism)</li>
		<li>D-dimer blood test: D-dimers are products of fibrin degradation and are raised in patients with VTE. Sensitivity of the test is high but specificity is poor</li>
		<li>ECG: heart failure</li>
		<li>Ultrasound, CT scan: haematoma, tumour, abdominal or pelvic mass</li>
		<li>Duplex Doppler, venography: DVT, arteriovenous fistula</li>
		<li>Lymphangiography: demonstrates cause of lymphoedema and whether due to hypoplasia or obstruction</li>
		<li>Lymph node biopsy: infection, tumour</li>
		<li>Other investigations may include renal biopsy, echocardiogram</li>
	</ul>

</div>