<!-- <h1 class="header-bg">Others</h1> -->

<div class="content">
	
	<ul class="right-list">
		<li>Differential diagnoses<br><br>
			<ul>
				<li>Muscle pain due to injury</li>
				<li>Superficial thrombophlebitis</li>
				<li>Deep vein thrombosis (provoked/unprovoked) and/or associated PE Post-thrombotic syndrome</li>
				<li>Peripheral oedema, heart failure, cirrhosis, nephrotic syndrome</li>
				<li>Venous or lymphatic obstruction</li>
				<li>Arteriovenous fistula and congenital vascular abnormalities</li>
				<li>Vasculitis</li>
				<li>Ruptured Baker's cyst</li>
				<li>Cellulitis</li>
				<li>Arthritis</li>
			</ul>
		</li>
	</ul>


</div>