<!-- <h1 class="header-bg">Others</h1> -->

<div class="content">
	
	<ul class="right-list">
		<li><div class="ul-title">Differential diagnoses:</div>
			<ul>
				<li>Muscle pain due to injury</li>
				<li>Superficial thrombophlebitis</li>
				<li>DVT (provoked/unprovoked) and/or associated PE <br>post-thrombotic syndrome</li>
				<li>Peripheral oedema, heart failure, cirrhosis, nephrotic syndrome</li>
				<li>Venous or lymphatic obstruction</li>
				<li>Arteriovenous fistula and congenital vascular abnormalities</li>
				<li>Vasculitis</li>
				<li>Cellulitis</li>
				<li>Arthritis</li>
			</ul>
		</li>
	</ul>


</div>