
<div class="content">
	
	<ul class="right-list">
		<li>An oral VKA tablet is taken – overlapping with the initial LMWH injections<br> (at least 5 days) <sup>1,2</sup></li>

		<li>3 months’ treatment then re-assess <sup>1,2</sup></li>

		<li>Requirements: regular INR tests, dose reviews and appointments at an anticoagulation clinic/haematologist; daily LMWH required until INR is in therapeutic range (INR ≥2.0 for 24 hours); limit alcohol intake; take tablet at same time each day; keep diet consistent <sup>3,4</sup></li>

		<li>Alternatively, after receiving an initial period of LMWH injections, the patient may be transitioned to an oral NOAC such as rivaroxaban, apixaban or dabigatran <sup>5&ndash;7</sup></li>
	</ul>


</div>