
<div class="content">
	
	<ul class="right-list">
		<li>An oral tablet that works rapidly – working as rapidly as a parenteral agent to slow clot progression – either rivaroxaban or apixaban<sup>8,9</sup></li>

		<li>Single-drug approach allows early discharge from hospital – no overlap with a parenteral agent is needed<sup>10</sup></li>

		<li>3 months’ treatment then re-assess<sup>1,2,11</sup></li>

		<li>Requirements: take tablet as directed at the same time(s) each day; review appointment with anticoagulation clinic/haematologist at 21 days (for rivaroxaban) or 7 days (for apixaban) to manage change in dose; no known dietary restrictions or food interactions<sup>12&ndash;15</sup></li>
	</ul>


</div>