
<div class="content">
	
	<ul class="right-list">
		<li>An oral tablet that works rapidly – working as rapidly as a parenteral agent to slow clot progression</li>

		<li>Single-drug approach allows early discharge from hospital – no overlap with a parenteral agent is needed</li>

		<li>3 months’ treatment then re-assess</li>

		<li>Requirements: take tablet at the same time(s) each day with food; review appointment with anticoagulation clinic/haematologist at 21 days to manage change in dose; no known dietary restrictions or food interactions</li>
	</ul>


</div>