<!-- <h1 class="header-bg">Trauma</h1> -->

<div class="content">
	
	<ul class="right-list">
		<li>If trauma is suspected, take a full patient history to identify a possible cause of injury</li>
		<li>Ask the patient about:<br><br>
			<ul>
				<li>Allergies</li>
				<li>Current medications</li>
				<li>Past illnesses/pregnancy</li>
				<li>Events/environment related to the suspected injury</li>
			</ul>
		</li>
		<li>Perform a physical exam to identify:<br><br> 
			<ul>
				<li>Serious injuries</li>
				<li>Occult bleeding</li>
				<li>Burns</li>
				<li>Other signs of trauma</li>
			</ul>
		</li>
	</ul>


</div>