
<div class="content">
	
	<ul class="right-list">
		<li>Can be used if D-dimer test and ultrasound scan are inconclusive <sup>3</sup></li>
		<li>Can be performed as part of a CT scan or, less commonly, by direct injection of intravenous contrast into the veins of the foot under fluoroscopic imaging. May be considered if ultrasound is inconclusive or when the proximal progression of a DVT into the iliac veins or vena cava cannot be seen <sup>3</sup></li>
		<li>The contrast dye travels to the leg veins – if a blood clot is present it will appear as a dye-free ‘gap’ in the blood vessel <sup>3</sup></li>
		<li>The risks associated with additional radiation and contrast exposure should be considered carefully <sup>3</sup></li>
	</ul>


</div>