
<div class="content">
	
	<ul class="right-list">
		<li>Should only be considered for clinical suspicion of PE</li>
		<li>Utilizes radio-labelled albumin and inhaled gases to compare pulmonary perfusion and ventilation<sup>7</sup></li>
		<li>V/Q scanning has high sensitivity but lower specificity than CTPA, particularly if other lung disease is present<sup>9</sup></li>
		<li>May be considered when CTPA cannot be done or is contraindicated, or in patients with a history of allergy to intravenous contrast<sup>7</sup></li>
	</ul>


</div>