
<div class="content">
	
	<ul class="right-list">
		<li>Score 1 point each for the following:
			<ul>
				<li>Active cancer</li>
				<li>Paralysis, paresis or plaster cast</li>
				<li>Bedridden for 3+ days or major surgery within 12 weeks</li>
				<li>Pain/tenderness along deep vein system</li>
				<li>Swollen leg</li>
				<li>Calf swelling >3 cm more than asymptomatic leg</li>
				<li>Pitting oedema in symptomatic leg only</li>
				<li>Collateral superficial veins</li>
				<li>History of DVT</li>
			</ul>
		</li>
		<li>Subtract 2 points if an alternative cause is considered at least as likely as DVT</li>
		<li>DVT is considered:
			<ul>
				<li>Likely if score is ≥2</li>
				<li>Unlikely if score is ≤1 (consider trauma, cellulitis)</li>
			</ul>
		</li>
	</ul>


</div>