<div class="content">
	
	<ul class="right-list">
		<li>FBC: anaemia, inflammation and infection <sup>1,2</sup></li>
		<li>C-reactive protein infection <sup>1,2</sup></li>
		<li>D-dimer: a negative result excludes PE/DVT in patients at lower clinical risk. D-dimer may be elevated in many conditions other than PE/DVT <sup>1,2</sup></li>
		<li>Troponin: indicates myocardial necrosis and may be elevated in acute MI or higher risk PE <sup>1,2</sup></li>
		<li>Biochemistry: renal function and electrolytes (raised creatinine in renal failure); LFTs (impaired liver function and associated low albumin); glucose (infection associated with diabetes); TFTs (hypothyroidism) <sup>1,2</sup></li>
		<li>Coagulation tests: ensure normal baseline clotting parameters <sup>1,2</sup></li>
	</ul>

</div>