
<div class="content">
	
	<ul class="right-list">
		
		<li>Assess blood pressure, temperature, peak expiratory flow rate (PEFR), oxygen saturation and ECG</li>

		<li><div class="ul-title">Criteria for patient admission <sup>1</sup>:</div>
			<ul>
				<li>Respiratory rate &gt;30 breaths/minute</li>
				<li>Tachycardia &gt;130 beats/minute</li>
				<li>Systolic blood pressure &lt;90 mm Hg, or diastolic blood pressure &lt;60 mm Hg (unless this is normal for the patient)</li>
				<li>Oxygen saturation &lt;92%, or central cyanosis (if the person has no history of chronic hypoxia)</li>
				<li>PEFR &lt;33% of predicted</li>
				<li>Altered level of consciousness</li>
				<li>A large respiratory effort (particularly if the person is becoming exhausted)</li>
				<li>Stridor</li>
				<li>Clinical features of high-risk PE or pneumothorax ECG suggesting a cardiac arrhythmia or MI</li>
			</ul>
		</li>
	</ul>

