<div class="content">
	
	<ul class="right-list">
		<li>Used to investigate the presence of thrombosis within the deep veins by a combination of compressibility, flow changes and direct imaging of the vein. [Proximal scan or full leg scan offered]</li>
		<li>When there is a high clinical suspicion of DVT but a negative scan, a repeat scan after 7 days should be considered<sup>1,2</sup></li>
		<li>A positive ultrasound study showing acute DVT may remove the need for lung imaging if PE symptoms are strongly suggested. A clinical diagnosis of PE can be assumed at this point<sup>3,4</sup></li>
	</ul>

</div>