
<div class="content">
	
	<ul class="right-list">
		<li>D-dimers are products of fibrin degradation and are raised in patients with VTE </li>

		<li>A negative result helps to rule out a diagnosis of VTE (sensitivity and negative predictive value &gt;95%)</li>

		<li>In patients with low clinical PE risk and normal D-dimer, the risk of PE within 3 months is &lt;1%</li>
	</ul>

	<div>
		<table class="info-table">
			<tr>
				<th>Clinical probability score</th>
				<th>D-dimer level</th>
				<th>Action</th>
			</tr>
			<tr>
				<td>PE unlikely</td>
				<td>Normal</td>
				<td>Diagnosis ruled out; no further testing required</td>
			</tr>
			<tr>
				<td></td>
				<td>Abnormal</td>
				<td>Imaging required</td>
			</tr>
			<tr>
				<td>PE likely</td>
				<td>Normal</td>
				<td>Imaging required</td>
			</tr>
			<tr>
				<td></td>
				<td>Abnormal</td>
				<td>Imaging required</td>
			</tr>
		</table>
	</div>


</div>