<div class="content">
	
	<ul class="right-list">

		<li><div class="ul-title">Continue LMWH, start oral VKA and discharge the patient:</div>
			<ul>
				<li>Oral VKA tablet(s) is taken – overlapping with initial LMWH injections (at least 5 days) <sup>1&ndash;3</sup></li>
				<li>3 months’ treatment then re-assess every 3 months <sup>1&ndash;3</sup></li>
				<li>Requirements: regular INR tests, dose reviews and appointments at an anticoagulation clinic/haematologist; daily LMWH required until INR is in therapeutic range (INR ≥2.0 for 24 hours); limit alcohol intake; take tablet at same time each day; keep diet consistent <sup>4,5</sup></li>
			</ul>
		</li>
	</ul>

</div>