<div class="content">
	
	<ul class="right-list">

		<li><div class="ul-title">Switch to a NOAC and discharge the patient after 24 hours:</div>
			<ul>
				<li>An oral tablet that works rapidly – as rapidly as a parenteral agent – to slow clot progression </li>
				<li>Single-drug approach rivaroxaban or apixaban allows early discharge from hospital – no overlap with a parenteral agent is needed. If LMWH has been administered initially, a switch to a single-drug NOAC (e.g. rivaroxaban) can follow at the same time 24 hours later (at hospital or home)</li>
				<li>Some NOACs, e.g. dabigatran, require 5–10 days’ parenteral anticoagulation before switching</li>
				<li>3 months’ initial treatment then re-assess every 3 months</li>
				<li>Requirements: take tablet at the same time(s) each day; review appointment with anticoagulation clinic/haematologist at (at 21 days if using rivaroxaban to coincide with dose reduction from 15 mg bid to 20 mg od, or at 7 days if using apixaban to coincide with dose reduction from 10 mg bid to 5 mg bid); no known dietary restrictions or food interactions</li>
				<li>ESC guidelines recommend patients with a PESI score of 0 may be suitable for management at home. With an sPESI score of 1, inpatient monitoring should be considered – (Figure 5, Konstantinides et al. 2014), (Konstantinides SV et al. Eur Heart J 2014;35:303–3069)</li>
			</ul>
		</li>
	</ul>

</div>