<div class="content">
	
	<ul class="right-list">

		<li><div class="ul-title">Switch to NOAC but keep the patient in hospital for a few days for further observation:</div>
			<ul>
				<li>An oral tablet that works rapidly –as rapidly as a parenteral agent – to slow clot progression <sup>1,2</sup></li>
				<li>Single-drug approach (rivaroxaban or apixaban) allows early discharge from hospital – no overlap with a parenteral agent is needed <sup>3,5</sup></li>
				<li>Some NOACs, e.g. dabigatran, require 5–10 days’ parenteral anticoagulation before switching <sup>6,7</sup></li>
				<li>3 months’ initial treatment then re-assess every 3 months <sup>3,8</sup></li>
				<li>Requirements: take tablet as directed at the same time(s) each day; review appointment with anticoagulation clinic/haematologist (at 21 days if using rivaroxaban to coincide with dose reduction from 15 mg bid to 20 mg od, or at 7 days if using apixaban to coincide with dose reduction from 10 mg bid to 5 mg bid); no known dietary restrictions or food interactions <sup>9&ndash;12</sup></li>
				<li>ESC guidelines recommend patients with a PESI score of 0 may be suitable for management at home. For an sPESI score of 1 inpatient monitoring should be considered <sup>3</sup></li>
			</ul>
		</li>
	</ul>

</div>