
<div class="content">
	
	<ul class="right-list">
		<li><div class="ul-title">Differential diagnoses <sup>1,10</sup>:</div>
			<ul>
				<li>Acute coronary syndrome</li>
				<li>Aortic dissection</li>
				<li>Asthma</li>
				<li>Cardiac tamponade</li>
				<li>COPD</li>
				<li>Drugs</li>
				<li>Large airway obstruction</li>
				<li>Panic attack/hyperventilation</li>
				<li>Pulmonary embolism</li>
				<li>Pneumonia</li>
				<li>Pneumothorax</li>
				<li>Sepsis</li>
				<li>Trauma</li>
			</ul>
		</li>
	</ul>
</div>

