<div class="content">
	
	<ul class="right-list">

		<li><div class="ul-title">Clinical features of PE <sup>3</sup>:</div>
			<ul>
				<li>Shortness of breath: The patient may have difficulty catching their breath at rest, and the shortness of breath often worsens with activity</li>
				<li>Plueritic chest pain: The pain is classically described as sharp, and it worsens when taking a deep breath</li>
				<li>A cough that may produce bloody sputum (haemoptysis)</li>
				<li>Abnormal vital signs: tachycardia, tachypnoea, hypoxia and cyanosis</li>
			</ul>
		</li>
	</ul>

</div>

