<div class="content">
	
	<ul class="right-list">
		<li>Q-scan results (blood flow) may be considered more appropriate here than V-scan results (air flow); if PE is suspected, use of CTPA scan is preferred</li>
		<li>Assesses air and blood flow in the lungs using a radioactive gas and the injection of contrast dye, respectively</li>
		<li>Utilizes radiolabelled albumin and inhaled gases to compare pulmonary perfusion and ventilation. </li>
		<li>Should only be considered when there is a clinical suspicion of PE</li>
		<li>V/Q scanning has high sensitivity, but much lower specificity than CTPA, particularly when other lung disease is present</li>
		<li>May be used in patients with a history of allergy to contrast dye</li>
	</ul>

</div>