
<div class="content">
	
	<ul class="right-list" scroller  scrollheight="520px">
	<div>
		<li><div class="ul-title">Major risk factors for VTE<sup>3&ndash;6</sup>:</div>
			<ul>
				<li>Previous history of PE or DVT</li>
				<li>Major surgery or cancer</li>
				<li>Prolonged immobilization, particularly after trauma</li>
				<li>Old age or medical problems (e.g. stroke)</li>
				<li>Thrombophilia caused by malignancy, chemotherapy or heart failure</li>
				<li>Increased haematocrit</li>
				<li>Paroxysmal nocturnal haemoglobinuria</li>
			</ul>
		</li>

		<li><div class="ul-title">Minor risk factors for VTE<sup>4&ndash;9</sup>:</div>
			<ul>
				<li>Trauma (major trauma or lower-extremity injury)</li>
				<li>Venous compression (tumour, haematoma, arterial abnormality)</li>
				<li>Increasing age</li>
				<li>Pregnancy and the postpartum period</li>
				<li>Oestrogen-containing oral contraceptives or hormone replacement therapy</li>
				<li>Erythropoiesis-stimulating agents</li>
				<li>Inflammatory bowel disease (ulcerative colitis, Crohn’s disease)</li>
				<li>Nephrotic syndrome</li>
				<li>Myeloproliferative disorders</li>
				<li>Obesity</li>
				<li>Central venous catheterization</li>
				<li>Tamoxifen therapy</li>
				<li>Long-haul flights</li>
				<li>Hyperlipidaemia</li>
				<li>Systemic lupus erythematosus</li>
			</ul>
		</li>
	</div>
	</ul>

</div>

