
<div class="content">
	

	<div>
		<table class="info-table">
			<tr>
				<th>Clinical feature<sup>1&ndash;3</sup></th>
				<th>Points</th>
			</tr>
			<tr>
				<td>Clinical signs and symptoms of DVT (minimum of leg swelling and pain with palpation of the deep veins) </td>
				<td>3</td>
			</tr>
			<tr>
				<td>An alternative diagnosis is less likely than PE</td>
				<td>3</td>
			</tr>
			<tr>
				<td>Heart rate greater than 100 beats per minute</td>
				<td>1.5</td>
			</tr>
			<tr>
				<td>Immobilization (for >3 days) or surgery in the previous 4 weeks</td>
				<td>1.5</td>
			</tr>
			<tr>
				<td>Previous DVT/PE</td>
				<td>1.5</td>
			</tr>
			<tr>
				<td>Haemoptysis</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Malignancy (on treatment, treated in the last 6 months, or palliative)</td>
				<td>1</td>
			</tr>
		</table>
	</div>

	<ul class="right-list">
		<li><div class="ul-title">Wells' score outcomes</div>
			<ul>
				<li>Score ≤4 – PE unlikely</li>
				<li>Score &gt;4 – PE likely</li>
			</ul>
		</li>
	</ul>


</div>