<div ui-view class="overlay"></div>

<div class="assessment" ng-show="stage === 1">
	
	<div class="header-bg">
		<div class="wrapper">
			<h1>Following the patient history, what are your next steps?</h1>
		</div>
	</div>

	<div class="wrapper">

		<div class="end-result"></div>

		<form action="" novalidate name="assessment_form1" class="form1">

		<h3>Select ONE or more of the following options:</h3>
			<div class="answer-row incorrect" ng-class="{'active':form.physicalExam}">

				<label 
				for="physical-exam" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="physical-exam"
					name="physical_exam"
					ng-model="form.physicalExam"
					> 
					Physical exam of the leg only

					<i class="result"></i>
				</label>

					<i tooltip-incorrect class="help" title="The heart and lungs should also be examined to check for breathing difficulties (indicating possible PE) and/or an abnormal heart rate"></i> 
			</div>

			<div class="answer-row correct" ng-class="{'active':form.fullPhysicalExam}">
				
				<label 
				for="full-physical-exam" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="full-physical-exam"
					name="full_physical_exam"
					ng-model="form.fullPhysicalExam"
					> 
					Full physical exam
					<i class="result"></i>
				</label>
				
				<i tooltip-missed class="help" title="The heart and lungs should be examined to assess heart rate and lung function. The right leg should be examined to check for any trauma, pain, redness or swelling"></i> 
			</div>

			<div class="answer-row incorrect" ng-class="{'active':form.urinalysis}">
				
				<label 
				for="urinalysis" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="urinalysis"
					name="urinalysis"
					ng-model="form.urinalysis"
					> 
					Urinalysis
					<i class="result"></i>
				</label>
				
				<i tooltip-incorrect class="help" title="This is not required if VTE suspected; could be relevant if oedema is due to renal function"></i>  
			</div>

			<div class="answer-row correct" ng-class="{'active':form.twoLevel}">
				
				<label 
				for="two-level" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="two-level"
					name="two_level"
					ng-model="form.twoLevel"
					> 
					Two-level Wells' score
					<i class="result"></i>
				</label>
					
				<i tooltip-missed class="help" title="A two-level Wells’ score should be calculated to assess if the patient has a high likelihood of DVT"></i> 
			</div>

			<div class="answer-row incorrect" ng-class="{'active':form.ecg}">
				
				<label 
				for="ecg" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="ecg"
					name="ecg"
					ng-model="form.ecg"
					> 
					ECG
					<i  class="result" ></i>
				</label>
				
				<i tooltip-incorrect class="help" title="This is not required; listen to breathing and heart rate during a physical exam"></i>
			</div>

			

			<div class="answer-row incorrect" ng-class="{'active':form.recommend}">
				
				<label 
				for="recommend" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="recommend"
					name="recommend"
					ng-model="form.recommend"
					> 
					Recommend rest, ice, compression and elevation
					<i class="result"></i>
				</label>
				
				<i tooltip-incorrect class="help" title="This is not required if VTE suspected; relevant following trauma to the leg"></i> 
			</div>

			<div class="answer-row incorrect" ng-class="{'active':form.noExaminations}">
				
				<label 
				for="no-examinations" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="no-examinations"
					name="no_examinations"
					ng-model="form.noExaminations"
					> 
					No examinations
					<i class="result" ></i>
				</label>  
				
				<i tooltip-incorrect class="help" title="Symptoms suggest further examinations needed"></i>
			</div>

			<h3><i class="blood-test"></i> BLOOD TESTS</h3>

			<div class="answer-row incorrect" ng-class="{'active':form.thyroid}">
				
				<label 
				for="thyroid" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="thyroid"
					name="thyroid"
					ng-model="form.thyroid"
					> 
					Thyroid function
					<i class="result"></i>
				</label>
				
				<i tooltip-incorrect class="help" title="This is not appropriate if VTE suspected"></i>
			</div>

			<div class="answer-row correct" ng-class="{'active':form.dDimer}">
				
				<label 
				for="d-dimer" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="d-dimer"
					name="d_dimer"
					ng-model="form.dDimer"
					> 
					D-dimer
					<i class="result"></i>
				</label>
				
				<i tooltip-missed class="help" title="A D-dimer test can be used to help rule-out DVT as a possible diagnosis"></i>
			</div>

			<div class="answer-row incorrect" ng-class="{'active':form.fasting}">
				
				<label 
				for="fasting" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="fasting"
					name="fasting"
					ng-model="form.fasting"
					> 
					Fasting-glucose level
					<i class="result"></i>
				</label> 
				
				<i tooltip-incorrect class="help" title="This is not appropriate if VTE suspected"></i>
			</div>

			<div class="answer-row correct" ng-class="{'active':form.renal}">
				
				<label 
				for="renal" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="renal"
					name="renal"
					ng-model="form.renal"
					> 
					Renal function
					<i class="result"></i>
					
				</label>

				<i tooltip-missed class="help" title="Symptoms indicate that renal function should be checked"></i>
			</div>

			<div class="answer-row correct" ng-class="{'active':form.level}">
				
				<label 
				for="level" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="level"
					name="level"
					ng-model="form.level"
					> 
					Liver function
					<i class="result"></i>
					 
				</label> 

				<i tooltip-missed class="help" title="Symptoms indicate that liver function should be checked"></i>		 
			</div>

			<div class="answer-row correct" ng-class="{'active':form.electrolytes}">
				
				<label 
				for="electrolytes" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="electrolytes"
					name="electrolytes"
					ng-model="form.electrolytes"
					> 
					Electrolytes
					<i class="result"></i>
				</label> 
				
				<i tooltip-missed class="help" title="Symptoms indicate that electrolytes should be checked"></i>
			</div>

			<div class="answer-row correct" ng-class="{'active':form.blood}">
				
				<label 
				for="blood" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="blood"
					name="blood"
					ng-model="form.blood"
					> 
					Full blood count
					<i class="result"></i>
				</label> 

				<i tooltip-missed class="help" title="Symptoms indicate that FBC should be checked to rule out anaemia and infection"></i>
			</div>

		</form>
	</div>

</div> <!-- stage 1 -->


<div class="assessment" ng-show="stage === 2">
	
	<div class="header-bg">
		<div class="wrapper">
			<h1 style="  font-size: 30px;">Assessment decision point: Which of the following diagnoses is most likely?</h1>
		</div>
	</div>

	<div class="wrapper">
		<div class="end-result"></div>

		<form action="" novalidate name="assessment_form2" class="form2">

			<h3>Select ONE of the following options:</h3>
		
			<div class="answer-row incorrect" ng-class="{'active':form.traumaLikely}">

				<label 
				for="trauma-likely" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="trauma-likely"
					name="trauma_likely"
					ng-model="form.traumaLikely"
					ng-click="form.dvtLikely = false;form.cellulitis = false;form.pe = false;form.none = false"
					> 
					Trauma most likely

					<i class="result"></i>
				</label>

					<i tooltip-incorrect class="help" title="No evidence of further trauma"></i> 
			</div>

			<div class="answer-row correct" ng-class="{'active':form.dvtLikely}">

				<label 
				for="dvt-likely" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="dvt-likely"
					name="dvt_likely"
					ng-model="form.dvtLikely"
					ng-click="form.traumaLikely = false;form.cellulitis = false;form.pe = false;form.none = false"
					> 
					DVT most likely

					<i class="result"></i>
				</label>

					<i tooltip-missed class="help" title="A Wells’ score of 3, elevated D-dimer and results of the physical examination indicate acute DVT is most likely"></i>
			</div>

			<div class="answer-row incorrect" ng-class="{'active':form.cellulitis}">

				<label 
				for="cellulitis" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="cellulitis"
					name="cellulitis"
					ng-model="form.cellulitis"
					ng-click="form.traumaLikely = false;form.dvtLikely = false;form.pe = false;form.none = false"
					> 
					Cellulitis most likely

					<i class="result"></i>
				</label>

					<i tooltip-incorrect class="help" title="No evidence of cellulitis"></i> 
			</div>

			<div class="answer-row incorrect" ng-class="{'active':form.pe}">

				<label 
				for="pe" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="pe"
					name="pe"
					ng-model="form.pe"
					ng-click="form.traumaLikely = false;form.dvtLikely = false;form.cellulitis = false;form.none = false"
					> 
					PE most likely

					<i class="result"></i>
				</label>

					<i tooltip-incorrect class="help" title="No chest pain or dyspnoea, normal heart rate"></i> 
			</div>

			<div class="answer-row incorrect" ng-class="{'active':form.none}">

				<label 
				for="none" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="none"
					name="none"
					ng-model="form.none"
					ng-click="form.traumaLikely = false;form.dvtLikely = false;form.cellulitis = false;form.pe = false"
					>
					None of the above

					<i class="result"></i>
				</label>

					<i tooltip-incorrect class="help" title="Assessment and patient history suggest the patient has an acute condition"></i> 
			</div>



		</form>
	</div>

</div> <!-- stage 2 -->


<div class="assessment" ng-show="stage === 3">
	
	<div class="header-bg">
		<div class="wrapper">
			<h1>Following the Assessment - what are your next steps?</h1>
		</div>
	</div>

	<div class="wrapper">
		<div class="end-result"></div>

		<form action="" novalidate name="assessment_form3" class="form3">
		
			<div class="answer-row incorrect" ng-class="{'active':form.thrombophilia}">

				<label 
				for="thrombophilia" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="thrombophilia"
					name="thrombophilia"
					ng-model="form.thrombophilia"
					ng-click="form.xray = false;form.computerized = false;form.ventilation = false;form.ultrasound = false;form.venogram = false;form.anticoagulant = false;form.tests = false"
					> 
					Thrombophilia test

					<i class="result"></i>
				</label>

					<i tooltip-incorrect class="help" title="Provoked event suspected rather than clotting due to thrombophilia"></i> 
			</div>

			<div class="answer-row incorrect" ng-class="{'active':form.xray}">

				<label 
				for="xray" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="xray"
					name="xray"
					ng-model="form.xray"
					ng-click="form.thrombophilia = false;form.computerized = false;form.ventilation = false;form.ultrasound = false;form.venogram = false;form.anticoagulant = false;form.tests = false"
					> 
					Chest X-ray

					<i class="result"></i>
				</label>

					<i tooltip-incorrect class="help" title="Not required for a suspected DVT"></i> 
			</div>

			<div class="answer-row incorrect" ng-class="{'active':form.computerized}">

				<label 
				for="computerized" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="computerized"
					name="computerized"
					ng-model="form.computerized"
					ng-click="form.thrombophilia = false;form.xray = false;form.ventilation = false;form.ultrasound = false;form.venogram = false;form.anticoagulant = false;form.tests = false"
					> 
					Computerized tomography pulmonary angiogram (CTPA)

					<i class="result"></i>
				</label>

					<i tooltip-incorrect class="help" title="PE unlikely"></i> 
			</div>

			<div class="answer-row incorrect" ng-class="{'active':form.ventilation}">

				<label 
				for="ventilation" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="ventilation"
					name="ventilation"
					ng-model="form.ventilation"
					ng-click="form.thrombophilia = false;form.xray = false;form.computerized = false;form.ultrasound = false;form.venogram = false;form.anticoagulant = false;form.tests = false"
					> 
					Ventilation/perfusion lung scan

					<i class="result"></i>
				</label>

					<i tooltip-incorrect class="help" title="PE unlikely"></i> 
			</div>

			<div class="answer-row correct" ng-class="{'active':form.ultrasound}">

				<label 
				for="ultrasound" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="ultrasound"
					name="ultrasound"
					ng-model="form.ultrasound"
					ng-click="form.thrombophilia = false;form.xray = false;form.computerized = false;form.thrombophilia = false;form.venogram = false;form.anticoagulant = false;form.tests = false"
					>
					Ultrasound of symptomatic leg

					<i class="result"></i>
				</label>

					<i tooltip-missed class="help" title="A patient with suspected DVT  should be sent for an ultrasound to confirm the diagnosis"></i>
			</div>

			<div class="answer-row incorrect" ng-class="{'active':form.venogram}">

				<label 
				for="venogram" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="venogram"
					name="venogram"
					ng-model="form.venogram"
					ng-click="form.thrombophilia = false;form.xray = false;form.computerized = false;form.thrombophilia = false;form.ultrasound = false;form.anticoagulant = false;form.tests = false"
					> 
					Venogram

					<i class="result"></i>
				</label>

					<i tooltip-incorrect class="help" title="Use D-dimer and ultrasound first"></i> 
			</div>

			<div class="answer-row incorrect" ng-class="{'active':form.anticoagulant}">

				<label 
				for="anticoagulant" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="anticoagulant"
					name="anticoagulant"
					ng-model="form.anticoagulant"
					ng-click="form.thrombophilia = false;form.xray = false;form.computerized = false;form.thrombophilia = false;form.ultrasound = false;form.venogram = false;form.tests = false"
					> 
					Start anticoagulant treatment


					<i class="result"></i>
				</label>

					<i tooltip-incorrect class="help" title="The scan can be performed straight away so anticoagulant therapy can be given following results, if required"></i> 
			</div>

			<div class="answer-row incorrect" ng-class="{'active':form.tests}">

				<label 
				for="tests" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="tests"
					name="tests"
					ng-model="form.tests"
					ng-click="form.thrombophilia = false;form.xray = false;form.computerized = false;form.thrombophilia = false;form.ultrasound = false;form.venogram = false;form.anticoagulant = false"
					> 
					No tests or treatment required

					<i class="result"></i>
				</label>

					<i tooltip-incorrect class="help" title="If DVT suspected, a diagnostic test is required"></i> 
			</div>





		</form>
	</div>

</div> <!-- stage 3 -->



<div class="assessment" ng-show="stage === 4">
	
	<div class="header-bg">
		<div class="wrapper">
			<h1>Treatment Decision</h1>
		</div>
	</div>

	<div class="wrapper">

		<div class="end-result">
			
			<div class="parenteralA" ng-show="decision === 'parenteralA'">
				<h1>Incorrect</h1>

				<ul>
					<li>This should not be the anticoagulation regimen of choice unless the patient has active cancer or has contraindications to other anticoagulants </li>

					<li>Duration of therapy needs to be assessed regularly</li>
				</ul>
			</div>


			<div class="parenteralB" ng-show="decision === 'parenteralB'">
				<h1>Correct</h1>

				<ul>
					<li>Patient requires daily, dose-adjusted LMWH (and may be admitted to hospital) overlapping with oral VKA until target INR (2.0–3.0 in most patients) is reached. After leaving hospital, routine coagulation monitoring/dose adjustment is needed to maintain the target INR, and the patient must comply with dietary restrictions</li>
				</ul>

				<p>Have you considered using rivaroxaban?</p>

				<ul>
					<li>Rivaroxaban may overcome some of these limitations </li>

					<ul>
						<li>no need for routine coagulation monitoring</li>
						<li>no known dietary restrictions or food interactions</li>
						<li>lower risk of bleeding</li>
						<li>most patients can be treated at home (may allow earlier discharge from hospital)</li>
						<li>once-daily regime after 3 weeks</li>
					</ul>
				</ul>
			</div>


			<div class="rivaroxaban" ng-show="decision === 'rivaroxaban'">
				<h1>Correct</h1>

				<ul>
					<li>Patient leaves hospital on rivaroxaban 15 mg twice daily, and arrange follow-up visit at a coagulation clinic for 21 days time, when the patient is switched to 20 mg for 3 months</li>

					<li>No need for routine coagulation monitoring, no known dietary restrictions or food interactions, and most patients can be treated at home (may allow earlier discharge from hospital)</li>

					<li>After 21 days, the patient moves to a once-daily regime (similar to VKAs) which improves compliance and is better suited for younger, active patients</li>

					<li>Lower risk of major bleeding for rivaroxaban (46% reduction) compared with LMWH/VKA therapy</li>
				</ul>

				<p>Rivaroxaban offers advantages over VKAs that<br>lead to better patient satisfaction</p>
			</div>


		</div>


		<form action="" novalidate name="assessment_form4">
		
			<div class="answer-row incorrect" ng-class="{'active':decision === 'parenteralA'}">

				<label 
				for="parenteralA" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="parenteralA"
					name="parenteralA"
					ng-click="decision = 'parenteralA'"
					> 
					Parenteral anticoagulation only

					<i class="result"></i>
				</label>

			</div>

			<div class="answer-row correct" ng-class="{'active':decision === 'parenteralB'}">

				<label 
				for="parenteralB" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="parenteralB"
					name="parenteralB"
					ng-click="decision = 'parenteralB'"
					> 
					Parenteral anticoagulation plus oral anticoagulant

					<i class="result"></i>
				</label>

			</div>

			<div class="answer-row correct" ng-class="{'active':decision === 'rivaroxaban'}">

				<label 
				for="rivaroxaban" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="rivaroxaban"
					name="rivaroxaban"
					ng-click="decision = 'rivaroxaban'"
					> 
					Rivaroxaban single-drug approach

					<i class="result"></i>
				</label>

			</div>


		</form>
	</div>

</div> <!-- stage 4 -->