<div ui-view class="overlay"></div>
<div class="videos">


	<!-- EXTENSION IS ADDED IN THE DIRECTIVE -->
	<video 
	new-player 
	width="100%" 
	controls 
	class="stopped"
	type="video/mp4"
	stageOne="Video1"
	stageOnePoster="Video1"
	stageTwo="Video2"
	stageTwoPoster="Video2"
	stageThree="Video3"
	stageThreePoster="Video3"
	stageFour="Video4"
	stageFourPoster="Video4"
	stageFive="Video5_part1"
	stageFivePoster="Video5_part1"
	stageSix="Video5_part2"
	stageSixPoster="Video5_part2"
	>

	</video>


	<div class="video-controls" style="display:none">
		<div class="controls">
			<div type="button" id="play-pause" class="play"></div>
	    	<input type="range" id="seek-bar" value="0">
	    	<div class="progress-bar">
	    		<div class="progress" style="width: {{progress || 0}}%"></div>
	    	</div>
		</div>
	    
	    <button class="skip-btn">SKIP VIDEO</button>
	 </div>

	<div class="right-menu" ng-show="stage === 1">
		<div class="header-bg">
			<h1>Patient History</h1>
		</div>
		

		<div class="wrapper" scroller>
			
			<div class="scroll-content">

				<ul>
					<li class="list-header"><i class="header-icon"></i> Presenting complaint</li>
					<ul class="list-content">
						<li>34-year-old male presents with pain<br> and swelling in the left leg</li>
					</ul>
				</ul>

				<ul>
					<li class="list-header"><i class="header-icon"></i> History of presenting complaint</li>
					<ul class="list-content">
						<li>Fracture of the 5th metatarsal &ndash; 3 weeks ago</li>
						<li>Fracture following road traffic accident</li>
						<li>Wearing a moon boot, immobilizing foot<br> for 3 weeks</li>
					</ul>
				</ul>

				<ul>
					<li class="list-header"><i class="header-icon"></i> Past medical history</li>
					<ul class="list-content">
						<li>Usually fit and healthy, normal BMI</li>
						<li>No history of cancer or heart problems</li>
					</ul>
				</ul>

				<ul>
					<li class="list-header"><i class="header-icon"></i> Drug history</li>
					<ul class="list-content">
						<li>Not on any medication, no allergies</li>
					</ul>
				</ul>

				<ul>
					<li class="list-header"><i class="header-icon"></i> Family history</li>
					<ul class="list-content">
						<li>No family history of thromboembolism</li>
					</ul>
				</ul>

				<ul>
					<li class="list-header"><i class="header-icon"></i> Social history</li>
					<ul class="list-content">
						<li>Non-smoker/drug user, moderate alcohol intake</li>
						<li>Computer analyst</li>
						<li>No recent long-haul flights</li>
						<li>Carer for elderly mother</li>
					</ul>
				</ul>

				<ul>
					<li class="list-header"><i class="header-icon"></i> Other</li>
					<ul class="list-content">
						<li>No other complaints</li>
					</ul>
				</ul>

			</div>

		</div>

		
	</div>


	<div class="right-menu" ng-show="stage === 2">
		<div class="header-bg">
			<h1>Assessment: Results</h1>
		</div>

		<div class="wrapper" scroller>
			<div class="scroll-content">
				
				<ul>
					<li class="list-header"><i class="header-icon"></i> Physical examination <sup>1</sup></li>
					<ul class="list-content">
						<li>Calf tenderness and general swelling</li>
						<li>Normal heart rate</li>
						<li>No chest pain or dyspnoea</li>
						<li>No other concerns</li>
						<li>No fever/high temperature</li>
					</ul>
				</ul>

				<ul>
					<li class="list-header"><i class="header-icon"></i> Routine blood tests</li>
					<ul class="list-content">
						<li>No renal impairment</li>
						<li>Increased D-dimer</li>
					</ul>
				</ul>

				<ul>
					<li class="list-header"><i class="header-icon"></i> Two-level DVT Wells’ score <sup>1</sup></li>
					<ul class="list-content">
						<li>Paralysis, paresis or immobilization (1 Point)</li>
						<li>Pain/tenderness along deep vein system <br>(1 Point)</li>
						<li>Swollen leg (1 Point)</li>
					</ul>
				</ul>

			</div>
		</div>
		
	</div>

	<div class="right-menu" ng-show="stage === 3">
		<div class="header-bg">
			<h1>Diagnostics</h1>
		</div>

		<div class="wrapper" scroller>
				
			<div class="scroll-content">
				
				<ul>
					<li class="list-header"><i class="header-icon"></i> Diagnosing DVT</li>
					<ul class="list-content">
						<li>If acute provoked DVT is suspected, how can you confirm the diagnosis?</li>
					</ul>
				</ul>

			</div>

		</div>
		
	</div>


	<div class="right-menu" ng-show="stage === 4">
		<div class="header-bg">
			<h1>Diagnostics: Results</h1>
		</div>

		<div class="wrapper" scroller>
				
			<div class="scroll-content">

				<ul>
					<li class="list-header"><i class="header-icon"></i> Results</li>
					<ul class="list-content">
						<li>The ultrasound scan confirms an acute DVT in the left leg</li>
					</ul>
				</ul>

				<ul>
					<li class="list-header"><i class="header-icon"></i> Treatment</li>
					<ul class="list-content">
						<li>What treatment would you prescribe?</li>
					</ul>
				</ul>

			</div>

		</div>
		
	</div>

</div>
