<div class="popup">
	<div class="contents confirm decision end">
		<i class="close" ui-sref="case2.video"></i>
		<div class="wrapper">
			<ul class="right-list">
				<li>Learning objective: to understand and apply guideline-approved diagnostic steps and treatment of a presentation of a painful and swollen leg</li>
				<li>
					Contents
					<ul>
						<li>Patient history</li>
						<li>Examinations</li>
						<li>Assessment: initial results</li>
						<li>Diagnostics: options</li>
						<li>Diagnostics: results</li>
						<li>Treatment: guidance</li>
						<li>Treatment: decision</li>
						<li>Follow-up and patient education</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>