<div class="intro">
	<div class="left">
		<div class="logo"></div>

		<h1>
			Emergency Room<br>
			Simulation Training
		</h1>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda qui iusto nam? Facere eum excepturi facilis fugiat voluptatem deleniti dolor debitis animi sint totam voluptate eaque est earum, delectus illo.</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat dolorem debitis illum necessitatibus, eius laborum enim officiis maiores tempora veritatis repellat error eveniet officia! Suscipit provident eligendi temporibus maxime ut!</p>

	</div>

	<div class="right">
		<ul>
			<li ui-sref="case1.video">
				Case 1
				<i class="case-icon"></i>
			</li>
			<li ui-sref="case2.video">
				Case 2
				<i class="case-icon"></i>
			</li>
			<li ui-sref="case3.video">
				Case 3
				<i class="case-icon"></i>
			</li>
			<li ui-sref="case4.video">
				Case 4
				<i class="case-icon"></i>
			</li>
		</ul>
	</div>

	<footer>Privacy Policy and Terms of Use</footer>
</div>

