<div class="intro">
	<div class="left">

		<h1>
			Emergency Room<br>
			Simulation Training
		</h1>

		<p>Using three patient cases, this training simulation is designed for junior healthcare professionals in emergency care to support the prompt diagnosis and treatment thromboembolic disorders.</p>

		<!-- <p>This training programme has been designed for junior doctors working in an emergency room setting  to establish best-practice in the diagnosis and treatment of four virtual patient cases.</p> -->

		<p>Working through the patient simulations, guided by helpful hints, consultant advice and learning materials will help you apply scientific knowledge to clinical  practice. Decision points indicate the key stages of diagnosis and assessment and provide an opportunity to evaluate your level of understanding in each case.</p>

	</div>

	<div class="right">

		<div class="logo"></div>

		<ul>
			<li ui-sref="case1.video">
				<div class="case-title">
					Case 1
				</div>
				<div class="case-description">
					34 years old male presents with pain and<br>
					swelling in the right leg
				</div>
				<i class="case-icon"></i>
			</li>
			<li ui-sref="case2.video">
				<div class="case-title">
					Case 2
				</div>
				<div class="case-description">
					42 years old female presents to the emergency<br>
					department with acute breathlessness
				</div>
				<i class="case-icon"></i>
			</li>
			<!-- <li ui-sref="case3.video">
				Case 3
				<i class="case-icon"></i>
			</li> -->
			<!-- <li ui-sref="case4.video">
				Case 4
				<i class="case-icon"></i>
			</li> -->
		</ul>
	</div>

	<footer ui-sref="home.terms">Privacy Policy and Terms of Use</footer>
</div>

<div ui-view></div>

