<div class="overlay-secondary active">
	<div class="mainMenu-overlay">


		<div class="wrapper">
			<h2>Case 2</h2>

			
			<div class="contents confirm decision end">
				<div class="wrapper">
					<ul class="right-list">
						<li>Learning objective: to understand and apply guideline-approved diagnostic steps and treatment of a presentation of acute breathlessness</li>
					</ul>
				</div>
			</div>
			

			<div class="col1 col">
				<div class="vid-img" ui-sref="case2.video" ng-click="changeStage(1)" ui-sref-opts="{reload: true}"></div>
				<p>Patient History</p>
			</div>
			<div class="col2 col">
				<div class="vid-img"></div>
				<p>Assessment: Results</p>
			</div>
			<div class="col3 col">
				<div class="vid-img"></div>
				<p>Diagnostics</p>
			</div>
			<div class="col1 col">
				<div class="vid-img"></div>
				<p>Diagnostics: Results</p>
			</div>
			<div class="col2 col">
				<div class="vid-img"></div>
				<p>Treatment: guidance</p>
			</div>
			<div class="col3 col">
				<div class="vid-img"></div>
				<p>Follow-up and patient education</p>
			</div>
		</div>

		

	</div>
</div>