<div class="expert" ng-class="{stage4case2: stage===4}">
	<i class="close" ui-sref="^"></i>

	<div class="overlay-message" ng-show="stage === 1">
		<p>Is there a family history of  ischaemic heart disease or VTE?</p>
		<p>Current health status?</p>
		<p>What would be your next steps?</p>
	</div>

	<div class="overlay-message two-line" ng-show="stage === 2">
		<p>Could there be an alternative diagnosis that is at least as likely as PE?</p>
		<p>Can you rule out pneumothorax and MI?</p>
	</div>	

	<div class="overlay-message two-line" ng-show="stage === 3">
		<p>Do you need further imaging tests?</p>
		<p>Do you need to provide immediate anticoagulation?</p>
	</div>	

	<div class="overlay-message two-line" ng-show="stage >= 4">

			<p>Would you classify this patient as high, intermediate-high, intermediate-low or low risk?</p>

			<p>Do you need to alter the treatment they are receiving?</p>

			<p>Consider the risks versus benefits, days in hospital/discharge, monitoring requirements, social history of patient,  method of administration and compliance challenges</p>		

	</div>			
</div>