<div class="references">
    <i class="close" ui-sref="^"></i>

    <div scroller scrollheight="600" ng-show="stage===1">
	    <ol>
	    	<li>National Institute for Health and Care Excellence. Clinical Knowledge Summaries – Breathlessness. Available at: http://cks.nice.org.uk/breathlessness#!topicsummary (last revised August 2010; accessed 15 October 2015)</li>

	    	<li>Zoorob RJ and Campbell JS. Acute dyspnea in the office. Am Fam Physican 2003;68:1803–1810</li>

	    	<li>Konstantinides S et al. 2014 ESC Guidelines on the diagnosis and management of acute pulmonary embolism. Eur Heart J 2014;35:3033–3069</li>

	    	<li>National Institute for Health and Care Excellence. Venous thromboembolic diseases: the management of venous thromboembolic diseases and the role of thrombophilia testing. NICE clinical guideline 144. Available at http://www.nice.org.uk/guidance/cg144 (issued: June 2012; accessed: 15 October 2015)</li>

	    	<li>Ray JG et al. Paroxysmal nocturnal hemoglobinuria and the risk of venous thrombosis: review and recommendations for management of the pregnant and nonpregnant patient. Haemostasis 2000;30:103–117</li>

	    	<li>Anderson FA and Spencer FA.  Risk factors for venous thromboembolism. Circulation 2003;107:I9–I16</li>

	    	<li>Prandoni P. Acquired risk factors for venous thromboembolism in medical patients. Hematology Am Soc Hematol Educ Program 2005:458–461</li>

	    	<li>Bennett CL et al. Venous thromboembolism and mortality associated with recombinant erythropoietin and darbepoetin administration for the treatment of cancer-associated anemia. JAMA 2008;299:914–924</li>

	    	<li>Yuhara H et al. Meta-analysis: the risk of venous thromboembolism in patients with inflammatory bowel disease.  Aliment Pharm Therapeut 2013;37:953–962</li>

	    	<li>Bauersachs RM. Clinical presentation of deep vein thrombosis and pulmonary embolism. Best Pract Res Clin Haematol 2012;25:243–251</li>
	    </ol>
    </div> 

    <div scroller scrollheight="600" ng-show="stage===2">
	    <ol>
	    	<li>Wells PW et al. Derivation of a simple clinical model to categorize patients probability of pulmonary embolism: increasing the models utility with the SimpliRED D-dimer. Thromb Haemost 2000;83:416–420</li>

	    	<li>National Institute for Health and Care Excellence. Venous thromboembolic diseases: the management of venous thromboembolic diseases and the role of thrombophilia testing. NICE clinical guideline 144. Available at http://www.nice.org.uk/guidance/cg144 (issued: June 2012; accessed: 15 October 2015)</li>

	    	<li>Konstantinides S et al. 2014 ESC Guidelines on the diagnosis and management of acute pulmonary embolism. Eur Heart J 2014;35:3033–3069</li>

	    	<li>Carrier M et al. VIDAS D-dimer in combination with clinical pretest probability to rule out pulmonary embolism. A systematic review of management outcome studies. Thromb Haemost 2009;101:886–892</li>
	    </ol>
    </div> 

    <div scroller scrollheight="600" ng-show="stage===3">
	    <ol>
			<li>Graham N et al. Testing for thrombophilia: clinical update. Br J Gen Pract 2014;64:e120–e122</li>

			<li>National Institute for Health and Care Excellence. Venous thromboembolic diseases: the management of venous thromboembolic diseases and the role of thrombophilia testing. NICE clinical guideline 144. Available at http://www.nice.org.uk/guidance/cg144 (issued: June 2012; accessed: 15 October 2015)</li>

			<li>Bates SM et al. Diagnosis of DVT: antithrombotic therapy and prevention of thrombosis, 9th ed: American College of Chest Physicians evidence-based clinical practice guidelines. CHEST 2012;141:e351S–e418S</li>

			<li>Konstantinides S et al. 2014 ESC Guidelines on the diagnosis and management of acute pulmonary embolism. Eur Heart J 2014;35:3033–3069</li>

			<li>Le Gal G et al. A positive compression ultrasonography of the lower limb veins is highly predictive of pulmonary embolism on computed tomography in suspected patients. Thromb Haemost 2006;95:963–966</li>

			<li>Kearon C et al. Antithrombotic therapy for VTE disease: antithrombotic therapy and prevention of thrombosis, 9th ed: American College of Chest Physicians evidence-based clinical practice guidelines. CHEST 2012;141:e419S–e494S</li>

			<li>National Institute for Health and Care Excellence. Rivaroxaban for the treatment of deep vein thrombosis and prevention of recurrent deep vein thrombosis and pulmonary embolism. NICE technology appraisal guidance 261. Available at http://www.guidance.nice.org.uk/ta261 (issued: July 2012; accessed: 15 October 2015)</li>

			<li>National Institute for Health and Care Excellence. Apixaban for the treatment and secondary prevention of deep vein thrombosis and/or pulmonary embolism. NICE technology appraisal guidance 341. Available at http://www.guidance.nice.org.uk/ta341 (issued June 2015; accessed: 15 October 2015)</li>

			<li>Dogan H et al. The role of computed tomography in the diagnosis of acute and chronic pulmonary embolism. Diagn Interv Radiol 2015;21:307–316</li>

			<li>Sostmann HD et al. Sensitivity and specificity of perfusion scintigraphy combined with chest radiography for acute pulmonary embolism in PIOPED II. J Nucl Med 2008;49:1741–1748</li>

			<li>Tunariu N et al. Ventilation–perfusion scintigraphy is more sensitive than multidetector CTPA in detecting chronic thromboembolic pulmonary disease as a treatable cause of pulmonary hypertension. J Nucl Med 2007;48:680–684</li>
	    </ol>
    </div>

     <div scroller scrollheight="600" ng-show="stage===4">
	    <ol>
	    	<li>Kubitza D et al. Investigation of pharmacodynamic and pharmacokinetic interactions between rivaroxaban and enoxaparin in healthy male subjects. Clin Pharmacol Drug Devel 2013;2:270–277</li>

	    	<li>Frost C et al. Apixaban, an oral, direct factor Xa inhibitor: single dose safety, pharmacokinetics, pharmacodynamics and food effect in healthy subjects. Br J Clin Pharm 2013;75:476–487</li>

	    	<li>Konstantinides S et al. 2014 ESC Guidelines on the diagnosis and management of acute pulmonary embolism. Eur Heart J 2014;35:3033–3069</li>

	    	<li>van Bellen B et al. Reduction in the length of stay with rivaroxaban as a single-drug regimen for  the treatment of deep vein thrombosis and pulmonary embolism. Curr Med Res Opin 2014;30:829–837</li>

	    	<li>Liu X et al. Extended anticoagulation with apixaban reduces hospitalisations in patients with venous thromboembolism. An analysis of the AMPLIFY-EXT trial. Thromb Haemost 2015;115</li>

	    	<li>Dabigatran European Summary of Product Characteristics 2015</li>

	    	<li>Dabigatran UK Prescribing Information 2015</li>

	    	<li>National Institute for Health and Care Excellence. Venous thromboembolic diseases: the management of venous thromboembolic diseases and the role of thrombophilia testing. NICE clinical guideline 144. Available at http://www.nice.org.uk/guidance/cg144 (issued: June 2012; accessed: 15 October 2015)</li>

	    	<li>Rivaroxaban European Summary of Product Characteristics 2015</li>

	    	<li>Rivaroxaban UK Prescribing Information 2015</li>

	    	<li>Apixaban European Summary of Product Characteristics 2015</li>

	    	<li>Apixaban UK Prescribing Information 2015</li>

	    	<li>Kearon C et al. Antithrombotic therapy for VTE disease: antithrombotic therapy and prevention of thrombosis, 9th ed: American College of Chest Physicians evidence-based clinical practice guidelines. CHEST 2012;141:e419S–e494S</li>

	    	<li>Weitz J. New anticoagulants for treatment of venous thromboembolism. Circulation 2004;110:I19–I26</li>

	    	<li>Ansell J et al. Pharmacology and management of the vitamin K antagonists: American College of Chest Physicians evidence-based clinical practice guidelines (8th Edition). CHEST 2008;133:160–198</li>

	    	<li>Van der Hulle T et al. Effectiveness and safety of novel oral anticoagulants as compared with vitamin K antagonists in the treatment of acute symptomatic venous thromboembolism: a systematic review and meta-analysis. J Thromb Haemost 2014;12:320–328</li>

	    	<li>EINSTEIN-PE Investigators. Oral rivaroxaban for the treatment of symptomatic pulmonary embolism. N Engl J Med 2012;366:1287–1297</li>

	    	<li>Prins MH et al. Patient-reported treatment satisfaction with oral rivaroxaban versus standard therapy in the treatment of pulmonary embolism; results from the EINSTEIN PE trial. Thromb Res 2015;135:281–288</li>
	    </ol>
    </div> 


    <div scroller scrollheight="600" ng-show="stage>5">
	    <ol>
	    	<li>National Institute for Health and Care Excellence. Venous thromboembolic diseases: the management of venous thromboembolic diseases and the role of thrombophilia testing. NICE clinical guideline 144. Available at http://www.nice.org.uk/guidance/cg144 (issued: June 2012; accessed: 15 October 2015)</li>
	    </ol>
    </div> 

                        
</div>