<div class="assessment">
	
	<div class="header-bg">
		<div class="wrapper">
			<h1>Following the patient history - what are your next steps?</h1>
		</div>
	</div>

	<div class="wrapper">
		<form action="" novalidate name="assessment_form">

			<div class="answer-row incorrect" ng-class="{'active':form.physicalExam}">

				<label 
				for="physical-exam" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="physical-exam"
					name="physical_exam"
					ng-model="form.physicalExam"
					> 
					Physical exam of the leg only

					<i class="result"></i>
				</label>

					<i tooltip class="help" title="This is my div's tooltip message!"></i> 
			</div>

			<div class="answer-row correct" ng-class="{'active':form.fullPhysicalExam}">
				
				<label 
				for="full-physical-exam" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="full-physical-exam"
					name="full_physical_exam"
					ng-model="form.fullPhysicalExam"
					> 
					Full physical exam
					<i class="result"></i>
				</label>
				
				<i class="help"></i>
			</div>

			<div class="answer-row incorrect" ng-class="{'active':form.urinalysis}">
				
				<label 
				for="urinalysis" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="urinalysis"
					name="urinalysis"
					ng-model="form.urinalysis"
					> 
					Urinalysis
					<i class="result"></i>
				</label>
				
				<i class="help"></i>  
			</div>

			<div class="answer-row correct" ng-class="{'active':form.twoLevel}">
				
				<label 
				for="two-level" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="two-level"
					name="two_level"
					ng-model="form.twoLevel"
					> 
					Two-level Wells' score
					<i class="result"></i>
				</label>
					
				<i class="help"></i> 
			</div>

			<div class="answer-row" ng-class="{'active':form.ecg}">
				
				<label 
				for="ecg" 
				class="assessment-selection incorrect"
				>
					<input 
					type="checkbox"
					id="ecg"
					name="ecg"
					ng-model="form.ecg"
					> 
					ECG
					<i class="result"></i>
				</label>
				
				<i class="help"></i>
			</div>

			<div class="answer-row incorrect" ng-class="{'active':form.noExaminations}">
				
				<label 
				for="no-examinations" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="no-examinations"
					name="no_examinations"
					ng-model="form.noExaminations"
					> 
					No examinations
					<i class="result"></i>
				</label>  
				
				<i class="help"></i>
			</div>

			<div class="answer-row incorrect" ng-class="{'active':form.recommend}">
				
				<label 
				for="recommend" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="recommend"
					name="recommend"
					ng-model="form.recommend"
					> 
					Recommend rest, ice, compression and elevation
					<i class="result"></i>
				</label>
				
				<i class="help"></i> 
			</div>

			<h3>BLOOD TESTS</h3>

			<div class="answer-row incorrect" ng-class="{'active':form.thyroid}">
				
				<label 
				for="thyroid" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="thyroid"
					name="thyroid"
					ng-model="form.thyroid"
					> 
					Thyroid function
					<i class="result"></i>
				</label>
				
				<i class="help"></i>
			</div>

			<div class="answer-row correct" ng-class="{'active':form.dDimer}">
				
				<label 
				for="d-dimer" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="d-dimer"
					name="d_dimer"
					ng-model="form.dDimer"
					> 
					D-dimer
					<i class="result"></i>
				</label>
				
				<i class="help"></i>
			</div>

			<div class="answer-row incorrect" ng-class="{'active':form.fasting}">
				
				<label 
				for="fasting" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="fasting"
					name="fasting"
					ng-model="form.fasting"
					> 
					Fasting-glucose level
					<i class="result"></i>
				</label> 
				
				<i class="help"></i>
			</div>

			<div class="answer-row correct" ng-class="{'active':form.renal}">
				
				<label 
				for="renal" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="renal"
					name="renal"
					ng-model="form.renal"
					> 
					Renal function
					<i class="result"></i>
					
				</label>

				<i class="help"></i>
			</div>

			<div class="answer-row correct" ng-class="{'active':form.level}">
				
				<label 
				for="level" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="level"
					name="level"
					ng-model="form.level"
					> 
					Liver function
					<i class="result"></i>
					 
				</label> 

				<i class="help"></i>			 
			</div>

			<div class="answer-row correct" ng-class="{'active':form.electrolytes}">
				
				<label 
				for="electrolytes" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="electrolytes"
					name="electrolytes"
					ng-model="form.electrolytes"
					> 
					Electrolytes
					<i class="result"></i>
				</label> 
				
				<i class="help"></i>
			</div>

			<div class="answer-row correct" ng-class="{'active':form.blood}">
				
				<label 
				for="blood" 
				class="assessment-selection"
				>
					<input 
					type="checkbox"
					id="blood"
					name="blood"
					ng-model="form.blood"
					> 
					Full blood count
					<i class="result"></i>
				</label> 

				<i class="help"></i> 
			</div>

		</form>
	</div>

</div>


