<div class="assessment">
	
	<div class="header-bg">
		<div class="wrapper">
			<h1>Following the patient history - what are your next steps?</h1>
		</div>
	</div>

	<div class="wrapper">
		<form action="" novalidate>

			<div class="answer-row">

				<label 
				for="physical-exam" 
				class="assessment-selection"
				ng-class="{'active':form.physicalExam}"
				>
					<input 
					type="checkbox"
					id="physical-exam"
					name="physical_exam"
					ng-model="form.physicalExam"
					> 
				Physical exam of the leg only
				</label>

				<i class="result">x</i> 

				<i>?</i>

			</div>

			<div class="answer-row">
				
				<label 
				for="full-physical-exam" 
				class="assessment-selection"
				ng-class="{'active':form.fullPhysicalExam}"
				>
					<input 
					type="checkbox"
					id="full-physical-exam"
					name="full_physical_exam"
					ng-model="form.fullPhysicalExam"
					> 
				Full physical exam
				</label>

				<i class="result">x</i> 

				<i>?</i>
				 
			</div>

			<div class="answer-row">
				
				<label 
				for="urinalysis" 
				class="assessment-selection"
				ng-class="{'active':form.urinalysis}"
				>
					<input 
					type="checkbox"
					id="urinalysis"
					name="urinalysis"
					ng-model="form.urinalysis"
					> 
				Urinalysis
				</label>

				<i class="result">x</i> 

				<i>?</i>
				 
			</div>

			<div class="answer-row">
				
				<label 
				for="two-level" 
				class="assessment-selection"
				ng-class="{'active':form.twoLevel}"
				>
					<input 
					type="checkbox"
					id="two-level"
					name="two_level"
					ng-model="form.twoLevel"
					> 
				Two-level Wells' score
				</label>

				<i class="result">x</i> 

				<i>?</i>
				 
			</div>

			<div class="answer-row">
				
				<label 
				for="ecg" 
				class="assessment-selection"
				ng-class="{'active':form.ecg}"
				>
					<input 
					type="checkbox"
					id="ecg"
					name="ecg"
					ng-model="form.ecg"
					> 
				ECG
				</label>

				<i class="result">x</i> 

				<i>?</i>
				 
			</div>

			<div class="answer-row">
				
				<label 
				for="no-examinations" 
				class="assessment-selection"
				ng-class="{'active':form.noExaminations}"
				>
					<input 
					type="checkbox"
					id="no-examinations"
					name="no_examinations"
					ng-model="form.noExaminations"
					> 
				No examinations
				</label>

				<i class="result">x</i> 

				<i>?</i>
				 
			</div>

			<h3>BLOOD TESTS</h3>

			<div class="answer-row">
				
				<label 
				for="thyroid" 
				class="assessment-selection"
				ng-class="{'active':form.thyroid}"
				>
					<input 
					type="checkbox"
					id="thyroid"
					name="thyroid"
					ng-model="form.thyroid"
					> 
				Thyroid function
				</label>

				<i class="result">x</i> 

				<i>?</i>
				 
			</div>

			<div class="answer-row">
				
				<label 
				for="d-dimer" 
				class="assessment-selection"
				ng-class="{'active':form.dDimer}"
				>
					<input 
					type="checkbox"
					id="d-dimer"
					name="d_dimer"
					ng-model="form.dDimer"
					> 
				D-dimer
				</label>

				<i class="result">x</i> 

				<i>?</i>
				 
			</div>

			<div class="answer-row">
				
				<label 
				for="fasting" 
				class="assessment-selection"
				ng-class="{'active':form.fasting}"
				>
					<input 
					type="checkbox"
					id="fasting"
					name="fasting"
					ng-model="form.fasting"
					> 
				Fasting-glucose level
				</label>

				<i class="result">x</i> 

				<i>?</i>
				 
			</div>

			<div class="answer-row">
				
				<label 
				for="renal" 
				class="assessment-selection"
				ng-class="{'active':form.renal}"
				>
					<input 
					type="checkbox"
					id="renal"
					name="renal"
					ng-model="form.renal"
					> 
				Renal function
				</label>

				<i class="result">x</i> 

				<i>?</i>
				 
			</div>

			<div class="answer-row">
				
				<label 
				for="level" 
				class="assessment-selection"
				ng-class="{'active':form.level}"
				>
					<input 
					type="checkbox"
					id="level"
					name="level"
					ng-model="form.level"
					> 
				Liver function
				</label>

				<i class="result">x</i> 

				<i>?</i>
				 
			</div>

			<div class="answer-row">
				
				<label 
				for="electrolytes" 
				class="assessment-selection"
				ng-class="{'active':form.electrolytes}"
				>
					<input 
					type="checkbox"
					id="electrolytes"
					name="electrolytes"
					ng-model="form.electrolytes"
					> 
				Electrolytes
				</label>

				<i class="result">x</i> 

				<i>?</i>
				 
			</div>

			<div class="answer-row">
				
				<label 
				for="blood" 
				class="assessment-selection"
				ng-class="{'active':form.blood}"
				>
					<input 
					type="checkbox"
					id="blood"
					name="blood"
					ng-model="form.blood"
					> 
				Full blood count
				</label>

				<i class="result">x</i> 

				<i>?</i>
				 
			</div>

			<div class="answer-row">
				
				<label 
				for="recommend" 
				class="assessment-selection"
				ng-class="{'active':form.recommend}"
				>
					<input 
					type="checkbox"
					id="recommend"
					name="recommend"
					ng-model="form.recommend"
					> 
				Recommend rest, ice, compression and elevation
				</label>

				<i class="result">x</i> 

				<i>?</i>
				 
			</div>

		</form>
	</div>

</div>


