<div class="overlay-secondary active">
	<div class="mainMenu-overlay">


		<div class="wrapper">
			<h2>Case 1</h2>

			
			<div class="contents confirm decision end">
				<div class="wrapper">
					<ul class="right-list">
						<li>Learning objective: to understand and apply guideline-approved diagnostic steps and treatment of a presentation of a painful and swollen leg</li>
					</ul>
				</div>
			</div>
			

			<div class="col1 col">
				<div class="vid-img case1 stage1" ui-sref="case1.video" ng-click="changeStage(1)" ui-sref-opts="{reload: true}"></div>
				<p>Patient History</p>
			</div>
			<div class="col2 col">
				<div class="vid-img case1 stage2">
					<div class="disabled"></div>
				</div>
				<p>Assessment: Results</p>
			</div>
			<div class="col3 col">
				<div class="vid-img case1 stage3">
					<div class="disabled"></div>
				</div>
				<p>Diagnostics</p>
			</div>
			<div class="col1 col">
				<div class="vid-img case1 stage4">
					<div class="disabled"></div>
				</div>
				<p>Diagnostics: Results</p>
			</div>
			<div class="col2 col">
				<div class="vid-img case1 stage5">
					<div class="disabled"></div>
				</div>
				<p>Treatment: guidance</p>
			</div>
			<div class="col3 col">
				<div class="vid-img case1 stage6">
					<div class="disabled"></div>
				</div>
				<p>Follow-up and patient education</p>
			</div>
		</div>

		

	</div>
</div>