<div class="decision-state">

	<h2>DECISION POINT</h2>

	<h3 ng-show="stage === 1">Are you ready to select the next steps for this patient?</h3>
	<h3 ng-show="stage === 2">Are you ready to select the most likely diagnosis?</h3>
	<h3 ng-show="stage === 3">Are you ready to select which test should confirm your diagnosis?</h3>
	<h3 ng-show="stage === 4">Are you ready to select a treatment option?</h3>

	<button ui-sref="case1.assessment" class="yes" ng-show="stage !== 4">Yes – Move to Assessment</button>
	<button ui-sref="case1.assessment" class="yes" ng-show="stage === 4">Yes – Move to Treatment Choice</button>

	<button ui-sref="^" class="no" ng-show="stage === 1">No – Return to Patient History</button>
	<button ui-sref="^" class="no" ng-show="stage === 2">No – Return to Results</button>
	<button ui-sref="^" class="no" ng-show="stage === 3">No – Return to Diagnostics</button>
	<button ui-sref="^" class="no" ng-show="stage === 4">No – Return to Treatment Guidance</button>

</div>
