<div class="expert" ng-class="{stage2case1: stage===2,stage4case1: stage===4}">
	<i class="close" ui-sref="^"></i>

	<div class="overlay-message two-line" ng-show="stage === 1">
		<p>Current health status?</p>
		<p>What would be your next steps?</p>
	</div>

	<div class="overlay-message" ng-show="stage === 2">
		<p>Is an alternative diagnosis considered at least as likely as a diagnosis of DVT?</p>
		<p>Can you exclude PE?</p>
		<p>Are you worried about malignancy?</p>
	</div>	

	<div class="overlay-message two-line" ng-show="stage === 3">
		<p>Do you need an imaging test?</p>
		<p>Do you need to provide immediate anticoagulation?</p>
	</div>	

	<div class="overlay-message" ng-show="stage >= 4">
		<p>Consider the risks versus benefits, days in hospital/discharge,</p>
		<p>monitoring requirements, social history of patient,</p>  
		<p>method of administration and compliance challenges</p>

	</div>			
</div>