
<div ui-view class="fade-view"></div>


<div class="bottom-menu">

	<span class="left-btn" ng-show="stage < 5">
		<button class="left-btn" ng-show="'case1.video' | includedByState" ng-click="replayVideo()" ui-sref="case1.video">
			<div class="btn-container">
				<i class="replay-icon"></i> 
				REPLAY VIDEO
			</div>
		</button>

		<button class="left-btn" ng-show="'case1.assessment' | includedByState" ng-click="backToLoop()" ui-sref="case1.video">PATIENT HISTORY</button>
	</span>

	<div class="home-icon" ng-class="{'no-bg-color': stage === 6}" ng-click="goHome = !goHome"></div>
	<!-- <div class="menu-icon" ng-click="mainMenu = !mainMenu;closeTab()"></div> -->
	<div class="menu-icon" ng-class="{'no-bg-color': stage === 6}" ng-click="toggleMenu('menu','video')" ng-show="'case1.video' | includedByState"></div>
	<div class="menu-icon" ng-click="toggleMenu('menu','assessment')" ng-show="'case1.assessment' | includedByState"></div>

	<div class="middle-section">

		<div class="button-bg"></div>

		<div class="label-bg info-label" ng-show="stage < 6">
			<button ng-click="toggleMenu('info','video')" class="info-btn"  ng-show="'case1.video' | includedByState"></button>
			<button class="info-btn" ng-click="toggleMenu('info','assessment')" ng-show="'case1.assessment' | includedByState"></button>
		</div>
		
		<div class="label-bg hint-label" ng-show="stage < 6">
			<button class="hint-btn" ng-click="toggleMenu('hint','video')" ng-show="'case1.video' | includedByState"></button>
			<button class="hint-btn" ng-click="toggleMenu('hint','assessment')" ng-show="'case1.assessment' | includedByState"></button>
		</div>

		<div class="label-bg expert-label" ng-show="stage < 6">
			<button class="expert-btn" ng-click="toggleMenu('expert','video')" ng-show="'case1.video' | includedByState"></button>
			<button class="expert-btn" ng-click="toggleMenu('expert','assessment')" ng-show="'case1.assessment' | includedByState"></button>
		</div>

		<div class="label-bg references-label">
			<button class="references-btn" ng-click="toggleMenu('references','video')" ng-show="'case1.video' | includedByState"></button>
			<button class="references-btn" ng-click="toggleMenu('references','assessment')" ng-show="'case1.assessment' | includedByState"></button>
		</div>

		
	</div>
	
	<span class="right-btn" ng-show="stage < 5">
		<button class="right-btn" ng-click="toggleMenu('decision','video')" ng-show="'case1.video' | includedByState">
			<div class="btn-container" ng-show="stage !== 4">
				ASSESSMENT 
				<i class="next-icon"></i>
			</div>

			<div class="btn-container" ng-show="stage === 4">
				TREATMENT CHOICE
				<i class="next-icon choice"></i>
			</div>
		</button>
		<button class="right-btn" ng-show="'case1.assessment' | includedByState" ng-click="submitForm('case1')" >SUBMIT</button>
	</span>
	
</div>

<div class="popup" ng-show="goHome">
	
	<div class="confirm">
		
		<h2>Are you sure you want to exit?</h2>

		<button ui-sref="home" class="yes">YES</button>

		<button ng-click="goHome = !goHome" class="no">NO</button>
	</div>

</div>


<div class="popup" ng-show="dispatch">
	
	<div class="confirm decision dispatch">
		
		<!-- <h2>Dispatch Patient</h2> -->

		<button ng-click="dispatchPatient()" class="yes">Discharge Patient</button>

	</div>

</div>




<div class="popup case-end" ng-show="caseEnd">
	
	<div class="confirm decision end">
		<div class="wrapper">
		<h2>What’s Next?</h2>

		<p>Follow-up and patient education</p>

		<ul class="right-list">
			<li>Before the patient is discharged, advice should be given, including <sup>1</sup>:
				<ul>
					<li>Current dosing, frequency, duration and any dose changes needed</li>
					<li>Signs and symptoms of recurrent VTE and bleeding events</li>
					<li>When to seek medical advice (provide telephone number or contact details)</li>
				</ul>
			</li>
			<li>Notify the patient’s primary care team of the diagnosis and treatment</li>
			<li>If using rivaroxaban, organize and notify patient of follow-up appointment in 21 days – patient education will be repeated at this time</li>
			<li>Treatment review every 3 months</li>
			<li>Consultant appointment booked for 6 weeks to 3 months’ time</li>
		</ul>

		<button>
			<a href="http://www.er.xarelto.com" target="_blank"> 
				<span class="fa fa-share-square"></span> 
				<span>ER website</span>
			</a>
		</button> 

		<button>
			<a href="certificates/certificate.pdf" download> 
				<span class="fa fa-file-text"></span> 
				<span>Module Certificate</span>
			</a>
		</button>
		</div>
	</div>

</div>