
<div ui-view class="fade-view"></div>


<div class="bottom-menu">

	<span class="left-btn" >
		<button class="left-btn" ng-show="'case1.video' | includedByState" ng-click="replayVideo()" ui-sref="case1.video">
			<div class="btn-container">
				<i class="replay-icon"></i> 
				REPLAY VIDEO
			</div>
		</button>

		<button class="left-btn" ng-show="'case1.assessment' | includedByState" ng-click="backToLoop()" ui-sref="case1.video">PATIENT HISTORY</button>
	</span>

	<div class="home-icon" ng-click="goHome = !goHome">
		
	</div>

	<div class="middle-section" ng-show="stage !== 5">

		<div class="button-bg"></div>

		<div class="label-bg info-label">
			<button ng-click="toggleMenu('info','video')" class="info-btn"  ng-show="'case1.video' | includedByState"></button>
			<button class="info-btn" ng-click="toggleMenu('info','assessment')" ng-show="'case1.assessment' | includedByState"></button>
		</div>
		
		<div class="label-bg hint-label">
			<button class="hint-btn" ng-click="toggleMenu('hint','video')" ng-show="'case1.video' | includedByState"></button>
			<button class="hint-btn" ng-click="toggleMenu('hint','assessment')" ng-show="'case1.assessment' | includedByState"></button>
		</div>

		<div class="label-bg expert-label" >
			<button class="expert-btn" ng-click="toggleMenu('expert','video')" ng-show="'case1.video' | includedByState"></button>
			<button class="expert-btn" ng-click="toggleMenu('expert','assessment')" ng-show="'case1.assessment' | includedByState"></button>
		</div>

		
	</div>
	
	<span class="right-btn" ng-show="stage !== 5">
		<button class="right-btn" ng-click="decisionPoint = !decisionPoint" ng-show="'case1.video' | includedByState">
			<div class="btn-container" ng-show="stage !== 4">
				ASSESSMENT 
				<i class="next-icon"></i>
			</div>

			<div class="btn-container" ng-show="stage === 4">
				TREATMENT CHOICE
				<i class="next-icon choice"></i>
			</div>
		</button>
		<button class="right-btn" ng-show="'case1.assessment' | includedByState" ng-click="submitForm()" >SUBMIT</button>
	</span>
	
</div>

<div class="popup" ng-show="goHome">
	
	<div class="confirm">
		
		<h2>Are you sure you want to exit?</h2>

		<button ui-sref="home" class="yes">YES</button>

		<button ng-click="goHome = !goHome" class="no">NO</button>
	</div>

</div>


<div class="popup" ng-show="decisionPoint">
	
	<div class="confirm decision">
		
		<h2>DECISION POINT</h2>

		<h3 ng-show="stage === 1">Are you ready to select the next steps for this patient?</h3>
		<h3 ng-show="stage === 2">Are you ready to select the most likely diagnosis?</h3>
		<h3 ng-show="stage === 3">Are you ready to select which test should confirm your diagnosis?</h3>
		<h3 ng-show="stage === 4">Are you ready to select a treatment option?</h3>

		<button ui-sref="case1.assessment" ng-click="decisionPoint = !decisionPoint" class="yes" ng-show="stage !== 4">Yes – Move to Assessment</button>
		<button ui-sref="case1.assessment" ng-click="decisionPoint = !decisionPoint" class="yes" ng-show="stage === 4">Yes – Move to Treatment Choice</button>

		<button ng-click="decisionPoint = !decisionPoint" class="no" ng-show="stage === 1">No – Return to Patient History</button>
		<button ng-click="decisionPoint = !decisionPoint" class="no" ng-show="stage === 2">No – Return to Results</button>
		<button ng-click="decisionPoint = !decisionPoint" class="no" ng-show="stage === 3">No – Return to Diagnostics</button>
		<button ng-click="decisionPoint = !decisionPoint" class="no" ng-show="stage === 4">No – Return to Treatment Guidance</button>
	
	</div>

</div>

<div class="popup" ng-show="dispatch">
	
	<div class="confirm decision dispatch">
		
		<!-- <h2>Dispatch Patient</h2> -->

		<button ng-click="dispatchPatient()" class="yes">Discharge Patient</button>

	</div>

</div>


<div class="popup" ng-show="caseEnd">
	
	<div class="confirm decision end">
		
		<h2>End of Case 1</h2>

		<button ui-sref="home" class="yes">Main menu</button>

		<button ng-click="caseEnd = !caseEnd" class="no">Replay video</button>
	</div>

</div>