
<div ui-view></div>


<div class="bottom-menu">

	<button class="left-btn" >
		<span ng-show="state !== 'case1.assessment'" ng-click="replay()" ui-sref="case1.video">
			<i class="replay-icon"></i> 
			REPLAY VIDEO
		</span>
		<span ng-show="state === 'case1.assessment'" ng-click="showMenu()" ui-sref="case1.video">PATIENT HISTORY</span>
	</button>


	<div class="middle-section">

		<div class="button-bg info">
			<button class="info-btn" ui-sref="case1.info"></button>
		</div>
		
		<div class="button-bg hint">
			<button class="hint-btn" ng-click="showHint = !showHint;showExpert = false"></button>
		</div>

		<div class="button-bg expert">
			<button class="expert-btn" ng-click="showExpert = !showExpert;showHint = false"></button>
		</div>
		
		
	</div>
	
	<button class="right-btn">
		<span ng-show="state !== 'case1.assessment'" ui-sref="case1.assessment">
			ASSESSMENT 
			<i class="next-icon"></i>
		</span>
		<span ng-show="state === 'case1.assessment'" ng-click="submitForm(showMenu)" >NEXT STEP</span>
	</button>
	
	
</div>