<div class="information">
	<i class="close" ui-sref="^"></i>

	<div class="left-content" ng-show="stage === 1">
		<h1 class="header-bg">Differential Diagnosis</h1>

		<ul>
			<li ui-sref=".swollenLegs" ui-sref-active="active">
				Swollen legs
				<div class="arrow-right"></div>

			</li>
			<li ui-sref=".trauma" ui-sref-active="active">
				Trauma
				<div class="arrow-right"></div>

			</li>
			<li ui-sref=".cellulitis" ui-sref-active="active">
				Cellulitis
				<div class="arrow-right"></div>
			
			</li>
			<li ui-sref=".vte" ui-sref-active="active">
				VTE
				<div class="arrow-right"></div>

			</li>
			<li ui-sref=".others" ui-sref-active="active">
				Others
				<div class="arrow-right"></div>

			</li>
			<li ui-sref=".investigations" ui-sref-active="active">
				Investigations
				<div class="arrow-right"></div>
				
			</li>
		</ul>

	</div>


	<div class="left-content" ng-show="stage === 2">
		<h1 class="header-bg">Differential Diagnosis</h1>

		<ul>
			<li ui-sref=".physicalExam" ui-sref-active="active">
				Physical exam
				<div class="arrow-right"></div>

			</li>
			<li ui-sref=".wells" ui-sref-active="active">
				Well's score
				<div class="arrow-right"></div>

			</li>
			<li ui-sref=".dimerTest" ui-sref-active="active">
				D-dimer test
				<div class="arrow-right"></div>
			
			</li>
		</ul>

	</div>

	<div class="left-content" ng-show="stage === 3">
		<h1 class="header-bg">Differential Diagnosis</h1>

		<ul>
			<li ui-sref=".thrombophilia" ui-sref-active="active">
				Thrombophilia test
				<div class="arrow-right"></div>

			</li>
			<li ui-sref=".xray" ui-sref-active="active">
				Chest X-ray
				<div class="arrow-right"></div>

			</li>
			<li ui-sref=".ultrasound" ui-sref-active="active">
				Ultrasound scan
				<div class="arrow-right"></div>
			
			</li>
			<li ui-sref=".anticoagulationTherapy" ui-sref-active="active">
				Anticoagulation therapy
				<div class="arrow-right"></div>

			</li>
			<li ui-sref=".venogram" ui-sref-active="active">
				Venogram
				<div class="arrow-right"></div>

			</li>
			<li ui-sref=".ctpa" ui-sref-active="active">
				CTPA
				<div class="arrow-right"></div>
				
			</li>
			<li ui-sref=".ventilation" ui-sref-active="active">
				Ventilation/perfusion lung scan
				<div class="arrow-right"></div>
				
			</li>
		</ul>

	</div>


	<div class="right-content">
		<h1 class="header-bg"></h1>
		<div ui-view></div>
	</div>
</div>