<div class="information">
	<i class="close" ui-sref="^"></i>

	<div class="left-content">
		<h1 class="header-bg">Differential Diagnosis</h1>

		<ul>
			<li>Swollen legs</li>
			<li>Trauma</li>
			<li>Cellulitis</li>
			<li>VTE</li>
			<li>Others</li>
		</ul>

		<h1 class="header-bg">Investigations</h1>

		<ul>
			<li>Urinalysis</li>
			<li>FBC</li>
			<li>Biochemistry</li>
			<li>D-dimer</li>
			<li>ECG</li>
			<li>Ultrasound, CT scan</li>
			<li>Duplex Doppler, venography</li>
			<li>Lymphangiography</li>
			<li>Lymph node biopsy</li>
			<li>Other</li>
		</ul>
	</div>

	<div class="right-content">
		<h1 class="header-bg">Swollen legs</h1>

		<ul>
			<li>Check for bilateral swelling which indicates systemic disease (e.g. cardiac 
	 failure). Swelling may not be even in both legs</li>
			<li>Unilateral swelling indicates a more localised cause (e.g. trauma, DVT)</li>
			<li>Consider pregnancy, obesity or immobility as a cause of swollen legs</li>
		</ul>

		<div class"table">
			<div class="left">
				<h3>Local</h3>
				<ul>
					<li>Acute:</li>
					<li>Trauma</li>
					<li>DVT</li>
					<li>Cellulitis</li>
					<li>Allergic reaction</li>
					<li>Rheumatoid arthritis</li>
				</ul>

				<ul>
					<li>Chronic:</li>
					<li>Venous problem (e.g. varicose veins)</li>
					<li>Lymphoedema</li>
					<li>Congenital malformation</li>
					<li>Stasis due to obesity or poor mobility</li>
				</ul>

			</div>
			<div class="right">
				<h3>Systemic</h3>
				<ul>
					<li>Congestive cardiac failure</li>
					<li>Hypoproteinaemia</li>
					<li>Renal failure</li>
					<li>Fluid overload</li>
					<li>Anaemia</li>
					<li>Drugs (e.g. NSAIDs)</li>
					<li>Hypothyroidism</li>
					<li>Hereditary angioneurotic</li>
					<li>oedema</li>
				</ul>
			</div>
		</div>

	</div>
</div>