<div class="references">
    <i class="close" ui-sref="^"></i>
	
	<div scroller scrollheight="600" ng-show="stage===1">
	    <ol>
	    	<li>Yale SH and Mazza JJ. Approach to diagnosing lower extremity edema. Comp Ther 2001;27:242–252</li>

	    	<li>Trayes JP et al.  Edema: diagnosis and management. Am Fam Phys 2013;88:102–110</li>

	    	<li>Ely JW et al.  Approach to Leg Edema of Unclear Etiology. J Am Board Fam Med 2006;19:148–160</li>

	    	<li>Anand IS et al. Pathogenesis of oedema in chronic severe anaemia: studies of body water and sodium, renal function, haemodynamic variables, and plasma hormones. Br Heart J 1993;70:357–362</li>

	    	<li>Tse K and Zuraw BL. Recognizing and managing hereditary angioedema.  Clev Clin J Med 2013;80:297–308</li>

	    	<li>Phoenix G et al. Diagnosis and management of cellulitis. BMJ 2012;345:e4955</li>

	    	<li>Schwartz MN. Clinical practice. Cellulitis. N Engl J Med 2004;350:904–912</li>

	    	<li>Ray JG et al. Paroxysmal nocturnal hemoglobinuria and the risk of venous thrombosis: review and recommendations for management of the pregnant and nonpregnant patient. Haemostasis 2000;30:103–117</li>

	    	<li>Anderson FA and Spencer FA.  Risk factors for venous thromboembolism. Circulation 2003;107:I9–I16</li>

	    	<li>National Institute for Health and Care Excellence. Venous thromboembolic diseases: the management of venous thromboembolic diseases and the role of thrombophilia testing. NICE clinical guideline 144. Available at http://www.nice.org.uk/guidance/cg144 (issued: June 2012; accessed: 15 October 2015)</li>

	    	<li>Konstantinides S et al. 2014 ESC Guidelines on the diagnosis and management of acute pulmonary embolism. Eur Heart J 2014;35:3033–3069</li>

	    	<li>Prandoni P. Acquired risk factors for venous thromboembolism in medical patients. Hematology Am Soc Hematol Educ Program 2005:458–461</li>

	    	<li>Bennett CL et al. Venous thromboembolism and mortality associated with recombinant erythropoietin and darbepoetin administration for the treatment of cancer-associated anemia. JAMA 2008;299:914–924</li>

	    	<li>Yuhara H et al. Meta-analysis: the risk of venous thromboembolism in patients with inflammatory bowel disease.  Aliment Pharm Therapeut 2013;37:953–962</li>
	    </ol>
    </div> 

    <div scroller scrollheight="600" ng-show="stage===2">
	    <ol>
	    	<li>Wells P et aI. Evaluation of D-dimer in the diagnosis of suspected deep-vein thrombosis. N Engl J Med 2003;349:1227–1235</li>

	    	<li>Bauersachs RM. Clinical presentation of deep vein thrombosis and pulmonary embolism. Best Pract Res CLin Haematol 2012;25:243–251</li>

	    	<li>Hirsch J and Lee AYY. How we diagnose and treat deep vein thrombosis. Blood 2002;99:3102–3110</li>

	    	<li>Schouten HJ et al. Diagnostic accuracy of conventional or age adjusted D-dimer cut-off values in older patients with suspected venous thromboembolism: systematic review and meta-analysis. BMJ 2013;346:f2492</li>

	    	<li>Kabrhel C et al. Factors associated with positive D-dimer results in patients evaluated for pulmonary embolism. Acad Emerg Med 2010;17:589–597</li>

	    	<li>Konstantinides S et al. 2014 ESC Guidelines on the diagnosis and management of acute pulmonary embolism. Eur Heart J 2014;35:3033–3069</li>

	    	<li>Bates SM et al. Diagnosis of DVT. Antithrombotic therapy and prevention of thrombosis, 9th ed: American College of Chest Physicians evidence-based clinical practice guidelines. Chest 2012;141:e351S–e418S</li>
	    </ol>
    </div> 

	<div scroller scrollheight="600" ng-show="stage===3">
	    <ol>
	    	<li>Graham N et al. Testing for thrombophilia: clinical update. Br J Gen Pract 2014;64:e120–e122</li>

	    	<li>National Institute for Health and Care Excellence. Venous thromboembolic diseases: the management of venous thromboembolic diseases and the role of thrombophilia testing. NICE clinical guideline 144. Available at http://www.nice.org.uk/guidance/cg144 (issued: June 2012; accessed: 15 October 2015)</li>

	    	<li>Bates SM et al. Diagnosis of DVT. Antithrombotic therapy and prevention of thrombosis, 9th ed: American College of Chest Physicians evidence-based clinical practice guidelines. Chest 2012;141:e351S–e418S</li>

	    	<li>Kearon C et al. Antithrombotic therapy for VTE disease: antithrombotic therapy and prevention of thrombosis, 9th ed: American College of Chest Physicians evidence-based clinical practice guidelines. CHEST 2012;141:e419S–e494S</li>

	    	<li>National Institute for Health and Care Excellence. Rivaroxaban for the treatment of deep vein thrombosis and prevention of recurrent deep vein thrombosis and pulmonary embolism. NICE technology appraisal guidance 261. Available at http://www.guidance.nice.org.uk/ta261 (issued: July 2012; accessed: 15 October 2015)</li>

	    	<li>National Institute for Health and Care Excellence. Apixaban for the treatment and secondary prevention of deep vein thrombosis and/or pulmonary embolism. NICE technology appraisal guidance 341. Available at http://www.guidance.nice.org.uk/ta341 (issued June 2015; accessed: 15 October 2015)</li>

	    	<li>Konstantinides S et al. 2014 ESC Guidelines on the diagnosis and management of acute pulmonary embolism. Eur Heart J 2014;35:3033–3069</li>

	    	<li>Dogan H et al. The role of computed tomography in the diagnosis of acute and chronic pulmonary embolism. Diagn Interv Radiol 2015;21:307–316</li>

	    	<li>Tunariu N et al. Ventilation–perfusion scintigraphy is more sensitive than multidetector CTPA in detecting chronic thromboembolic pulmonary disease as a treatable cause of pulmonary hypertension. J Nucl Med 2007;48:680–684</li>
	    </ol>
    </div>

    <div scroller scrollheight="600" ng-show="stage===4">
	    <ol>
	    	<li>Kearon C et al. Antithrombotic therapy for VTE disease: antithrombotic therapy and prevention of thrombosis, 9th ed: American College of Chest Physicians evidence-based clinical practice guidelines. CHEST 2012;141:e419S–e494S</li>

	    	<li>National Institute for Health and Care Excellence. Venous thromboembolic diseases: the management of venous thromboembolic diseases and the role of thrombophilia testing. NICE clinical guideline 144. Available at http://www.nice.org.uk/guidance/cg144 (issued: June 2012; accessed: 15 October 2015)</li>

	    	<li>Weitz J. New anticoagulants for treatment of venous thromboembolism. Circulation 2004;110:I19–I26</li>

	    	<li>Ansell J et al. Pharmacology and management of the vitamin K antagonists: American College of Chest Physicians evidence-based clinical practice guidelines (8th Edition). CHEST 2008;133:160–198</li>

	    	<li>National Institute for Health and Care Excellence. Rivaroxaban for the treatment of deep vein thrombosis and prevention of recurrent deep vein thrombosis and pulmonary embolism. NICE technology appraisal guidance 261. Available at http://www.guidance.nice.org.uk/ta261 (issued: July 2012; accessed: 15 October 2015)</li>

	    	<li>National Institute for Health and Care Excellence. Apixaban for the treatment and secondary prevention of deep vein thrombosis and/or pulmonary embolism. NICE technology appraisal guidance 341. Available at http://www.guidance.nice.org.uk/ta341 (issued June 2015; accessed: 15 October 2015)</li>

	    	<li>National Institute for Health and Care Excellence. Dabigatran for the treatment and secondary prevention of deep vein thrombosis and/or pulmonary embolism. NICE technology appraisal guidance 327. Available at http://www.guidance.nice.org.uk/ta327 (issued December 2014; accessed: 15 October 2015)</li>

	    	<li>Kubitza D et al. Investigation of pharmacodynamic and pharmacokinetic interactions between rivaroxaban and enoxaparin in healthy male subjects. Clin Pharmacol Drug Devel 2013;2:270–277</li>

	    	<li>Frost C et al. Apixaban, an oral, direct factor Xa inhibitor: single dose safety, pharmacokinetics, pharmacodynamics and food effect in healthy subjects. Br J Clin Pharm 2013;75:476–487</li>

	    	<li>van Bellen B et al. Reduction in the length of stay with rivaroxaban as a single-drug regimen for  the treatment of deep vein thrombosis and pulmonary embolism. Curr Med Res Opin 2014;30:829–837</li>

	    	<li>Konstantinides S et al. 2014 ESC Guidelines on the diagnosis and management of acute pulmonary embolism. Eur Heart J 2014;35:3033–3069</li>

	    	<li>Rivaroxaban European Summary of Product Characteristics 2015</li>

	    	<li>Rivaroxaban UK Prescribing Information 2015</li>

	    	<li>Apixaban European Summary of Product Characteristics 2015</li>

	    	<li>Apixaban UK Prescribing Information 2015</li>
	    </ol>
    </div>

    <div scroller scrollheight="600" ng-show="stage===5">
	    <ol>
	    	<li>National Institute for Health and Care Excellence. Venous thromboembolic diseases: the management of venous thromboembolic diseases and the role of thrombophilia testing. NICE clinical guideline 144. Available at http://www.nice.org.uk/guidance/cg144 (issued: June 2012; accessed: 15 October 2015)</li>

	    	<li>Dabigatran European Summary of Product Characteristics 2015</li>

	    	<li>Dabigatran UK Prescribing Information 2015</li>

	    	<li>Rivaroxaban European Summary of Product Characteristics 2015</li>

	    	<li>Rivaroxaban UK Prescribing Information 2015</li>

	    	<li>Apixaban European Summary of Product Characteristics 2015</li>

	    	<li>Apixaban UK Prescribing Information 2015</li>

	    	<li>Prins MH et al. Patient-reported treatment satisfaction with oral rivaroxaban versus standard therapy in the treatment of pulmonary embolism; results from the EINSTEIN PE trial. Thromb Res 2015;135:281–288</li>

	    	<li>van Bellen B et al. Reduction in the length of stay with rivaroxaban as a single-drug regimen for  the treatment of deep vein thrombosis and pulmonary embolism. Curr Med Res Opin 2014;30:829–837</li>

	    	<li>Bamber L et al. Patient-reported treatment satisfaction with oral rivaroxaban versus standard therapy in the treatment of acute symptomatic deep-vein thrombosis. Thromb Haemost 2013;110:732–741</li>
	    </ol>
    </div> 

    <div scroller scrollheight="600" ng-show="stage===5">
	    <ol>
	    	<li>National Institute for Health and Care Excellence. Venous thromboembolic diseases: the management of venous thromboembolic diseases and the role of thrombophilia testing. NICE clinical guideline 144. Available at http://www.nice.org.uk/guidance/cg144 (issued: June 2012; accessed: 15 October 2015)</li>
	    </ol>
    </div>    


</div>